node-red/flows.json
[
  {
    "id": "082363fa8be6eb11",
    "type": "tab",
    "label": "Inject",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "d92b8af64f8801d5",
    "type": "tab",
    "label": "Normalyzer",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "d3a553c4a24c8d2d",
    "type": "tab",
    "label": "Gaia Engine",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "7ae9100865fc18b4",
    "type": "tab",
    "label": "Vision Identity",
    "disabled": false,
    "info": ""
  },
  {
    "id": "6087d338d264e627",
    "type": "tab",
    "label": "Chat",
    "disabled": false,
    "info": ""
  },
  {
    "id": "7fb45525762d2613",
    "type": "tab",
    "label": "Voice",
    "disabled": false,
    "info": ""
  },
  {
    "id": "tab_device_registry",
    "type": "tab",
    "label": "Device Registry",
    "disabled": false,
    "info": ""
  },
  {
    "id": "tab-device-mgr",
    "type": "tab",
    "label": "GAIA Devices",
    "disabled": false,
    "info": "Gestione centralizzata dei Raspberry Pi GAIA.\nImporta: Menu → Import → seleziona questo file."
  },
  {
    "id": "tab-gaia-voice",
    "type": "tab",
    "label": "GAIA Voice",
    "disabled": false,
    "info": "Gestione comandi vocali GAIA.\nImporta: Menu → Import → seleziona questo file.\nDopo import: aggiorna il broker MQTT nei nodi mqtt in/out con il tuo broker esistente."
  },
  {
    "id": "29b6d5926d1a95ec",
    "type": "mqtt-broker",
    "name": "MQTT Broker",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "6954514bd6852f97",
    "type": "websocket-listener",
    "path": "/gaia",
    "wholemsg": "false"
  },
  {
    "id": "00a66cdeeffcbf5d",
    "type": "telegram bot",
    "botname": "MauroAgent",
    "usernames": "",
    "chatids": "",
    "baseapiurl": "",
    "testenvironment": false,
    "updatemode": "polling",
    "pollinterval": 300,
    "usesocks": false,
    "sockshost": "",
    "socksprotocol": "socks5",
    "socksport": 6667,
    "socksusername": "anonymous",
    "sockspassword": "",
    "bothost": "",
    "botpath": "",
    "localbothost": "0.0.0.0",
    "localbotport": 8443,
    "publicbotport": 8443,
    "privatekey": "",
    "certificate": "",
    "useselfsignedcertificate": false,
    "sslterminated": false,
    "verboselogging": false
  },
  {
    "id": "5e12f921ba0407e8",
    "type": "inject",
    "z": "082363fa8be6eb11",
    "name": "Night Reflection",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "00 21 * * *",
    "once": false,
    "onceDelay": "",
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 210,
    "y": 160,
    "wires": [
      [
        "c3fbc5661b5b4867"
      ]
    ]
  },
  {
    "id": "c3fbc5661b5b4867",
    "type": "function",
    "z": "082363fa8be6eb11",
    "name": "Night Summary Prompt",
    "func": "const brain = global.get('gaiaBrain') || {};\nconst diary = (brain.diary || []).slice(-100).map(d => `${d.mood} ${d.source}`).join(', ');\nmsg.payload = { model: 'qwen2.5:3b-instruct-q4_K_M', prompt: `Sei Gaia. Riassumi la giornata della casa in massimo 40 parole. Eventi: ${diary}`, stream: false };\nreturn msg;",
    "outputs": 1,
    "x": 410,
    "y": 160,
    "wires": [
      [
        "621df259ac2186e8"
      ]
    ]
  },
  {
    "id": "621df259ac2186e8",
    "type": "http request",
    "z": "082363fa8be6eb11",
    "name": "Night Ollama",
    "method": "POST",
    "ret": "obj",
    "url": "http://localhost:11434/api/generate",
    "x": 590,
    "y": 160,
    "wires": [
      [
        "e3fc88d439563ec0"
      ]
    ]
  },
  {
    "id": "e3fc88d439563ec0",
    "type": "function",
    "z": "082363fa8be6eb11",
    "name": "Save Daily Memory",
    "func": "if (!msg.payload || !msg.payload.response) return null;\nlet brain = global.get('gaiaBrain') || {};\nbrain.memories = brain.memories || [];\nbrain.memories.push({ ts: Date.now(), summary: msg.payload.response.trim() });\nif (brain.memories.length > 365) brain.memories.shift();\nglobal.set('gaiaBrain', brain);\nmsg.payload = JSON.stringify(brain.memories, null, 2);\nreturn msg;",
    "outputs": 1,
    "x": 750,
    "y": 160,
    "wires": [
      [
        "4134b08394e1a810"
      ]
    ]
  },
  {
    "id": "4134b08394e1a810",
    "type": "file",
    "z": "082363fa8be6eb11",
    "name": "Save Memories",
    "filename": "/home/core/gaia/memories.json",
    "filenameType": "str",
    "overwriteFile": true,
    "x": 920,
    "y": 160,
    "wires": [
      []
    ]
  },
  {
    "id": "5266e36842a24f3b",
    "type": "inject",
    "z": "082363fa8be6eb11",
    "name": "Load Brain at StartUp",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "0.1",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 220,
    "y": 100,
    "wires": [
      [
        "6b1b4f9dbc62e48f"
      ]
    ]
  },
  {
    "id": "6b1b4f9dbc62e48f",
    "type": "file in",
    "z": "082363fa8be6eb11",
    "name": "Read Brain File",
    "filename": "/home/core/gaia/brain.json",
    "filenameType": "str",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "none",
    "allProps": false,
    "x": 440,
    "y": 100,
    "wires": [
      [
        "f8b116d0052fdf14"
      ]
    ]
  },
  {
    "id": "f8b116d0052fdf14",
    "type": "function",
    "z": "082363fa8be6eb11",
    "name": "Parse Brain",
    "func": "try {\n    if (msg.payload && msg.payload.length > 0) {\n        let saved = JSON.parse(msg.payload);\n        let brain = global.get('gaiaBrain') || {};\n        // Ricostruisci solo i campi salvati, gli altri li inizializzi vuoti\n        brain.rooms = saved.rooms || {};\n        brain.presence = saved.presence || {};\n        brain.people = saved.people || {};\n        brain.lights = saved.lights || {};\n        brain.plants = saved.plants || {};\n        brain.sensors = saved.sensors || {};\n        brain.mood = saved.mood || { stress: 0, calm: 0, social: 0, curiosity: 0, energy: 50, state: \"neutra\" };\n        brain.lifeIndex = saved.lifeIndex || 50;\n        brain.gamification = saved.gamification || { level: 1, xp: 0, xpNextLevel: 1000, activeClass: \"Neutro\", unlockedAssets: [\"base_grid\"] };\n        // Inizializza i campi non salvati (arrays vuoti)\n        brain.diary = [];\n        brain.events = [];\n        brain.thoughts = [];\n        brain.memories = [];\n        brain.chatLog = [];\n        brain.emotions = {};\n        brain.gestures = {};\n        brain.sessions = {};\n        global.set('gaiaBrain', brain);\n    } else {\n        // File non trovato: brain nuovo\n        let brain = { rooms: {}, presence: {}, people: {}, lights: {}, plants: {}, sensors: {}, mood: { stress:0, calm:0, social:0, curiosity:0, energy:50, state:\"neutra\" }, diary:[], events:[], thoughts:[], memories:[], chatLog:[], emotions:{}, gestures:{}, sessions:{} };\n        global.set('gaiaBrain', brain);\n    }\n} catch(e) {\n    node.error(\"Errore parsing brain: \" + e.message);\n    global.set('gaiaBrain', {});\n}\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 650,
    "y": 100,
    "wires": [
      []
    ]
  },
  {
    "id": "b57f9aa938beaf83",
    "type": "inject",
    "z": "082363fa8be6eb11",
    "name": "TTS Scheduler",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "5",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 160,
    "y": 320,
    "wires": [
      [
        "0f52748829504de6"
      ]
    ]
  },
  {
    "id": "0f52748829504de6",
    "type": "function",
    "z": "082363fa8be6eb11",
    "name": "TTS Queue Manager",
    "func": "let queue = global.get('gaiaTTSQueue') || [];\nlet lastSpeechTime = global.get('gaiaAudioLast') || 0;\nconst now = Date.now();\nif (!queue || queue.length === 0) return null;\nif (now - lastSpeechTime < 15000) return null;\nconst textToSpeak = queue.shift();\nglobal.set('gaiaTTSQueue', queue);\nglobal.set('gaiaAudioLast', now);\nreturn { topic: 'casa/tts/play', payload: textToSpeak };",
    "outputs": 1,
    "x": 320,
    "y": 320,
    "wires": [
      [
        "36bbe764f3a5c794"
      ]
    ]
  },
  {
    "id": "36bbe764f3a5c794",
    "type": "mqtt out",
    "z": "082363fa8be6eb11",
    "name": "TTS OUT",
    "topic": "casa/tts/play",
    "qos": "1",
    "retain": "false",
    "broker": "29b6d5926d1a95ec",
    "x": 440,
    "y": 320,
    "wires": []
  },
  {
    "id": "97e9d7bc95cbf3c9",
    "type": "function",
    "z": "082363fa8be6eb11",
    "name": "Pet_Consierge",
    "func": "const brain = global.get('gaiaBrain') || {};\nconst now = Date.now();\nlet commands = [];\nlet animalPresent = false;\nlet animalRoom = null;\nlet animalType = null;\n\n// Cerca animali nelle stanze\nObject.entries(brain.rooms || {}).forEach(([roomName, roomData]) => {\n    const objects = roomData.objects || {};\n    if (objects.dog) { animalPresent = true; animalRoom = roomName; animalType = 'dog'; }\n    else if (objects.cat) { animalPresent = true; animalRoom = roomName; animalType = 'cat'; }\n    else if (objects.bird) { animalPresent = true; animalRoom = roomName; animalType = 'bird'; }\n});\n\nif (animalPresent) {\n    // 1. Luce soffusa se è buio\n    const lightSensor = Object.values(brain.sensors || {}).find(s => s.darkness === true);\n    if (lightSensor) {\n        commands.push({\n            topic: `openhab/${animalRoom}/Luminosita/command`,\n            payload: \"20\",\n            log: `💡 Luce soffusa accesa in ${animalRoom} per ${animalType}`\n        });\n    }\n\n    // 2. Controllo acqua\n    const waterBowl = brain.sensors?.water_bowl;\n    if (waterBowl && waterBowl.level < 20) {\n        commands.push({\n            topic: \"casa/animali/acqua/command\",\n            payload: \"EROGARE\",\n            log: `💧 Rabbocco acqua per ${animalType} (livello ${waterBowl.level}%)`\n        });\n    }\n\n    // 3. Rumore esterno\n    const noiseSensor = brain.sensors?.external_noise;\n    if (noiseSensor && noiseSensor.level > 70) {\n        commands.push({\n            topic: \"media_player/salotto/playlist\",\n            payload: \"calming_music\",\n            log: `🎵 Musica calmante attivata per ${animalType} (rumore ${noiseSensor.level}dB)`\n        });\n    }\n}\n\n// Invia comandi MQTT\ncommands.forEach(cmd => {\n    node.send({ topic: cmd.topic, payload: cmd.payload });\n});\n\n// Invia notifica Telegram\nif (commands.length > 0) {\n    let summary = commands.map(c => c.log).join(', ');\n    node.send({ topic: 'telegram/alert', payload: `🐾 Pet Concierge: ${summary}` });\n}\n\nreturn null;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 520,
    "y": 520,
    "wires": [
      []
    ]
  },
  {
    "id": "b6af1745acb5d49c",
    "type": "function",
    "z": "082363fa8be6eb11",
    "name": "Disability",
    "func": "const brain = global.get('gaiaBrain') || {};\nconst now = Date.now();\nconst lastAlert = global.get('lastDisabilityAlert') || {};\nconst ALERT_COOLDOWN = 60000; // 1 minuto tra un alert e l'altro\n\nfunction sendAlert(type, message) {\n    if (now - (lastAlert[type] || 0) > ALERT_COOLDOWN) {\n        lastAlert[type] = now;\n        global.set('lastDisabilityAlert', lastAlert);\n        node.send({ topic: 'telegram/alert', payload: `⚠️ [DISABILITY] ${message}` });\n    }\n}\n\n// 1. Controllo pose pericolose\nObject.entries(brain.people || {}).forEach(([person, data]) => {\n    const lastPose = data.lastPose;\n    if (!lastPose || !lastPose.pose) return;\n\n    const timeLying = now - (lastPose.ts || 0);\n    \n    // Persona sdraiata in cucina per più di 60s\n    if (lastPose.pose === 'lying' && lastPose.camera === 'cucina' && timeLying > 60000) {\n        sendAlert(`lying_kitchen_${person}`, `${person} è sdraiato in cucina da ${Math.round(timeLying/1000)}s`);\n    }\n    \n    // Persona sdraiata in bagno o scale per più di 30s (possibile caduta)\n    if (lastPose.pose === 'lying' && (lastPose.camera === 'bagno' || lastPose.camera === 'scale') && timeLying > 30000) {\n        sendAlert(`fall_risk_${person}`, `POSSIBILE CADUTA: ${person} è sdraiato in ${lastPose.camera} da ${Math.round(timeLying/1000)}s`);\n    }\n});\n\n// 2. Frigorifero aperto\nconst fridgeSensor = brain.sensors?.fridge;\nif (fridgeSensor && fridgeSensor.state === 'open') {\n    const openDuration = now - (fridgeSensor.last_changed || now);\n    if (openDuration > 120000) {\n        sendAlert('fridge_open', `🔓 Il frigorifero è aperto da ${Math.round(openDuration/1000)}s!`);\n    }\n}\n\n// 3. Rilevamento fumo/fuoco da YOLO\nObject.entries(brain.rooms || {}).forEach(([room, data]) => {\n    if (data.objects && data.objects.fire === true) {\n        sendAlert(`fire_${room}`, `🔥 ALLARME INCENDIO rilevato in ${room}!`);\n    }\n});\n\nreturn null;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 500,
    "y": 580,
    "wires": [
      []
    ]
  },
  {
    "id": "77c824601225ad12",
    "type": "function",
    "z": "082363fa8be6eb11",
    "name": "Maggiordomo",
    "func": "const brain = global.get('gaiaBrain') || {};\nconst now = Date.now();\nconst lastAction = global.get('lastButlerAction') || {};\n\n// 1. Citofono\nif (msg.topic === 'casa/citofono/pressed') {\n    const peopleHome = Object.keys(brain.presence || {}).filter(n => brain.presence[n]?.present).join(', ');\n    node.send({ topic: 'telegram/alert', payload: `🔔 Qualcuno ha suonato! In casa: ${peopleHome || 'nessuno'}` });\n    return null;\n}\n\n// 2. Pioggia e finestre\nconst rainSensor = brain.sensors?.rain;\nconst windowsSensor = brain.sensors?.windows;\nif (rainSensor && rainSensor.state === 'raining' && windowsSensor && windowsSensor.open === true) {\n    if (now - (lastAction.windows_alert || 0) > 300000) {\n        node.send({ topic: 'telegram/alert', payload: '🌧️ Sta piovendo e le finestre sono aperte!' });\n        lastAction.windows_alert = now;\n        global.set('lastButlerAction', lastAction);\n    }\n}\n\n// 3. Spegnimento luci in stanze vuote da 10 minuti\nObject.entries(brain.rooms || {}).forEach(([room, data]) => {\n    if (room === 'salotto' || room === 'cucina' || room === 'studio') {\n        if (data.persons_count === 0 && data.lastUpdate && (now - data.lastUpdate > 600000)) {\n            const light = Object.entries(brain.lights || {}).find(([id, l]) => id.includes(room) && l.power === true);\n            if (light) {\n                node.send({ topic: `openhab/${room}/Potenza/command`, payload: \"OFF\" });\n                node.send({ topic: 'telegram/alert', payload: `💡 Luci di ${room} spente automaticamente (stanza vuota da 10 minuti)` });\n            }\n        }\n    }\n});\n\nreturn null;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 240,
    "y": 640,
    "wires": [
      [
        "1e75c494902bb201",
        "b2bf5391b164fdd8"
      ]
    ]
  },
  {
    "id": "e5ef12ee348dbde4",
    "type": "inject",
    "z": "082363fa8be6eb11",
    "name": "Inject Pet_Diability",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "300",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 160,
    "y": 540,
    "wires": [
      [
        "97e9d7bc95cbf3c9",
        "b6af1745acb5d49c"
      ]
    ]
  },
  {
    "id": "1e75c494902bb201",
    "type": "mqtt out",
    "z": "082363fa8be6eb11",
    "name": "Citofono",
    "topic": "casa/citofono/trigger",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "29b6d5926d1a95ec",
    "x": 580,
    "y": 660,
    "wires": []
  },
  {
    "id": "a44743c875b68654",
    "type": "http in",
    "z": "082363fa8be6eb11",
    "name": "trigger",
    "url": "citofono_trigger",
    "method": "post",
    "upload": false,
    "skipBodyParsing": false,
    "swaggerDoc": "",
    "x": 230,
    "y": 440,
    "wires": [
      [
        "b2bf5391b164fdd8"
      ]
    ]
  },
  {
    "id": "b2bf5391b164fdd8",
    "type": "function",
    "z": "082363fa8be6eb11",
    "name": "function 3",
    "func": "const now = new Date().toLocaleTimeString('it-IT');\nmsg.payload = `🔔 *CITOFONO* 🔔\\nSuonato alle ${now}\\n(Rilevato da ${msg.payload.source})`;\nmsg.chatId = \"YOUR_CHAT_ID\";   // sostituisci con il tuo chatId\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 440,
    "wires": [
      [
        "0bef9934b512e7cc",
        "48b146419214eadb"
      ]
    ]
  },
  {
    "id": "0bef9934b512e7cc",
    "type": "link out",
    "z": "082363fa8be6eb11",
    "name": "link out 1",
    "mode": "link",
    "links": [
      "3270d945bebdb6e3"
    ],
    "x": 525,
    "y": 440,
    "wires": []
  },
  {
    "id": "48b146419214eadb",
    "type": "http response",
    "z": "082363fa8be6eb11",
    "name": "resp",
    "statusCode": "",
    "headers": {},
    "x": 570,
    "y": 380,
    "wires": []
  },
  {
    "id": "44882f413905a1b1",
    "type": "function",
    "z": "d92b8af64f8801d5",
    "name": "Dispacher",
    "func": "const topic = msg.topic || '';\n\nif (topic.includes('pianta')) {\n    return [msg, null, null, null];\n} else if (topic.includes('hue')) {\n    return [null, msg, null, null];\n} else if (topic.includes('mediapipe') || topic.includes('emotion') || topic.includes('gesture') || topic.includes('pose')) {\n    return [null, null, msg, null];\n} else if (topic.startsWith('gaia/') || topic.includes('vision')) {\n    return [null, null, null, msg];\n}\n// Messaggio non riconosciuto: scarta\nreturn null;",
    "outputs": 4,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 600,
    "y": 340,
    "wires": [
      [
        "f75aee44f7d54304"
      ],
      [
        "3408cfd5b1344f2c"
      ],
      [
        "b7f3a1e2c9d40001"
      ],
      [
        "877612987dfba13c"
      ]
    ]
  },
  {
    "id": "f75aee44f7d54304",
    "type": "function",
    "z": "d92b8af64f8801d5",
    "name": "PlantNorm",
    "func": "const p = msg.payload || {};\nconst state = p.state;\nlet e = {\n    ts: Date.now(),\n    topic: msg.topic,\n    source: 'plant',\n    category: 'soil',\n    value: parseFloat(state ?? p.payload ?? p.value ?? p),\n    person: null,\n    room: p.room || msg.topic.split('/')[1] || null,\n    device: p.id || msg.topic.split('/')[3] || 'unknown',\n    confidence: null\n};\nmsg.event = e;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 910,
    "y": 260,
    "wires": [
      [
        "76396b47d2b9cf21"
      ]
    ]
  },
  {
    "id": "3408cfd5b1344f2c",
    "type": "function",
    "z": "d92b8af64f8801d5",
    "name": "HueNorm",
    "func": "const p = msg.payload || {};\nconst item = (p.item || '').toLowerCase();\nconst state = p.state;\nlet e = {\n    ts: Date.now(),\n    topic: msg.topic,\n    source: 'hue',\n    category: 'unknown',\n    value: null,\n    device: p.item || 'unknown',\n    person: null,\n    confidence: null\n};\n\nconst now = Date.now();\nlet lastUpdates = context.get('lastHueUpdates') || {};\nif (lastUpdates[e.device] && (now - lastUpdates[e.device] < 200)) {\n    return null;\n}\nlastUpdates[e.device] = now;\ncontext.set('lastHueUpdates', lastUpdates);\n\nif (item.includes('livello_luminosita') || item.includes('illuminazione')) {\n    e.category = 'ambient_light';\n    e.value = parseFloat(String(state).replace(/[^0-9.]/g, ''));\n} else if (item.includes('oscurita') || item.includes('luce_diurna')) {\n    e.category = item.includes('oscurita') ? 'darkness' : 'daylight';\n    e.value = (state === 'ON');\n} else if (item.includes('temperatura') && !item.includes('colore')) {\n    e.category = 'temperature';\n    e.value = parseFloat(String(state).replace('°C', '').trim());\n} else if (item.includes('movimento') || item.includes('presence')) {\n    e.category = 'motion';\n    e.value = (state === 'ON' || state === true);\n} else if (item.includes('batteria_scarica')) {\n    e.category = 'battery_low';\n    e.value = (state === 'ON');\n} else if (item.includes('livello_batteria')) {\n    e.category = 'battery_level';\n    e.value = parseFloat(state);\n} else if (item.includes('colore') && !item.includes('temperatura')) {\n    e.category = 'color';\n    e.value = state || '0,0,0';\n} else if (item.includes('luminosita') || item.includes('dimmer')) {\n    e.category = 'brightness';\n    e.value = parseFloat(state ?? 0);\n} else if (item.includes('potenza') || item.includes('switch')) {\n    e.category = 'power';\n    e.value = (state === 'ON' || state === true);\n} else if (item.includes('color_temperature_abs')) {\n    e.category = 'color_temperature_abs';\n    e.value = parseFloat(String(state || '').replace('°C', '').trim());\n} else if (item.includes('color_temperature')) {\n    e.category = 'color_temperature';\n    e.value = parseFloat(state ?? 0);\n} else if (item.includes('allerta')) {\n    e.category = 'alert';\n    e.value = state || 'NONE';\n} else if (item.includes('ultimo_aggiornamento')) {\n    return null;\n} else {\n    e.category = 'raw';\n    e.value = p;\n}\n\nmsg.event = e;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 900,
    "y": 300,
    "wires": [
      [
        "76396b47d2b9cf21"
      ]
    ]
  },
  {
    "id": "6ebd50e6dfa8dbef",
    "type": "function",
    "z": "d92b8af64f8801d5",
    "name": "MediaPipeNorm",
    "func": "// Riceve msg.payload da gaia/mediapipe/pose\nconst p = msg.payload || {};\nconst now = Date.now();\n\n// Recupera ultimi valori inviati (usa flow context, valido per il nodo)\nconst last = flow.get('mediapipe_last') || {};\n\n// Determina se ci sono cambiamenti significativi\nlet changed = false;\nif (p.emotion !== undefined && p.emotion !== last.emotion) changed = true;\nif (p.pose !== undefined && p.pose !== last.pose) changed = true;\nif (p.gesture !== undefined && p.gesture !== 'none' && p.gesture !== last.gesture) changed = true;\n\n// Se non cambia nulla, non inviare nulla (riduce il traffico)\nif (!changed && last.initialized) return null;\n\n// Salva i nuovi valori\nflow.set('mediapipe_last', {\n    emotion: p.emotion,\n    pose: p.pose,\n    gesture: p.gesture,\n    initialized: true\n});\n\n// Base comune per tutti gli eventi\nconst baseEvent = {\n    ts: p.ts || (p.timestamp ? Math.round(p.timestamp * 1000) : now),\n    topic: msg.topic,\n    source: 'mediapipe',\n    device: p.camera || p.node || p.device || 'unknown',\n    confidence: p.confidence || 0.8\n};\n\n// Determina la persona\nif (p.person) {\n    baseEvent.person = p.person;\n} else if (p.person_detected === true) {\n    baseEvent.person = \"unknown\";\n} else {\n    baseEvent.person = null;\n}\n\nif (!baseEvent.person) return null;\n\n// Costruisci eventi solo per i campi cambiati (o tutti se è il primo)\nconst events = [];\nif (p.emotion !== undefined && (changed || !last.initialized)) {\n    events.push({\n        ...baseEvent,\n        category: 'emotion',\n        value: p.emotion,\n        smile_score: p.smile_score,\n        mouth_open: p.mouth_open,\n        eyes_open: p.eyes_open,\n        attention: p.attention\n    });\n}\nif (p.pose !== undefined && (changed || !last.initialized)) {\n    events.push({\n        ...baseEvent,\n        category: 'pose',\n        value: p.pose\n    });\n}\nif (p.gesture !== undefined && p.gesture !== 'none' && (changed || !last.initialized)) {\n    events.push({\n        ...baseEvent,\n        category: 'gesture',\n        value: p.gesture\n    });\n}\n\nif (events.length === 0) return null;\n\n// Invia tutti gli eventi\nreturn events.map(evt => ({ ...msg, event: evt }));",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 900,
    "y": 340,
    "wires": [
      [
        "76396b47d2b9cf21"
      ]
    ]
  },
  {
    "id": "877612987dfba13c",
    "type": "function",
    "z": "d92b8af64f8801d5",
    "name": "VisionNorm",
    "func": "const p = msg.payload || {};\nif (p.mood && p.lifeIndex !== undefined) return null; // anti-loop\n\nlet e = {\n    ts: Date.now(),\n    topic: msg.topic,\n    source: 'vision',\n    category: 'unknown',\n    value: null,\n    person: null,\n    device: null,\n    confidence: null\n};\n\n// Presenza da presence_event (inviato dal Vision Brain)\nif (p.presence_event) {\n    e.category = 'presence';\n    e.person = p.presence_event.person.toString().toLowerCase().trim();\n    e.value = p.presence_event.event;\n    e.device = p.presence_event.camera;\n    e.confidence = p.presence_event.confidence || 0;\n}\n// Presenza da GAIA Presence Engine v7\nelse if (p.person && p.camera && p.event && !p.track_id) {\n    e.category = 'presence';\n    e.person = p.person.toString().toLowerCase().trim();\n    e.value = p.event;\n    e.device = p.camera;\n    e.confidence = p.confidence || p.conf || 0;\n}\n// Dati YOLO/spaziali\nelse if ((p.source === 'vision' && p.room) || (p.summary && p.summary.unique_objects)) {\n    e.category = 'spatial_analysis';\n    e.value = {\n        room: p.room || { id: p.camera, name: p.camera, activity: 'idle', persons_count: p.summary?.persons_count || 0, objects: p.summary?.unique_objects || {} },\n        people: p.people || [],\n        emotions: p.emotions || null,\n        objects: p.objects || p.summary?.unique_objects || {}\n    };\n    e.device = p.camera || 'unknown';\n    if (p.people && p.people.length > 0) {\n        e.person = p.people[0].name || null;\n    }\n}\n// Frame YOLO → spatial_analysis (persons_count gestito da GAIA Brain)\nelse if (msg.topic.includes('/frame')) {\n    const _roomId = p.node || p.camera || 'unknown';\n    e.category = 'spatial_analysis';\n    e.value = {\n        persons_count: p.persons_count || 0,\n        room: { id: _roomId, name: _roomId, activity: p.persons_count > 0 ? 'active' : 'idle', persons_count: p.persons_count || 0, objects: p.objects || {} },\n        people: [],\n        objects: p.objects || {}\n    };\n    e.device = p.camera || p.node;\n}\n// Eventi di tracciamento (person_entered, person_left) - MODIFICATO\nelse if (p.event && (p.track_id || p.event === 'person_left' || p.event === 'person_entered')) {\n    // Mappa l'evento raw a 'enter' o 'exit'\n    let presenceValue = (p.event === 'person_entered' || p.event === 'enter') ? 'enter' :\n                        (p.event === 'person_left'  || p.event === 'exit')   ? 'exit' : p.event;\n    \n    e.category = 'presence';\n    e.value = presenceValue;\n    e.track_id = p.track_id;\n    e.device = p.camera;\n    e.timestamp = p.timestamp || Date.now();\n    \n    // Recupera il nome associato al track_id dalla mappa globale\n    let trackingMap = global.get('gaiaTrackingMap') || {};\n    if (p.track_id && trackingMap[p.track_id]) {\n        e.person = trackingMap[p.track_id].name;\n        e.confidence = 0.9;\n    } else if (p.person) {\n        e.person = p.person.toString().toLowerCase().trim();\n    } else {\n        e.person = 'unknown';\n    }\n}\n// Identità da altri formati\nelse if (p.person || p.name) {\n    e.category = 'presence';\n    e.person = (p.person || p.name || '').toString().toLowerCase().trim();\n    e.value = p.event || 'seen';\n    if (p.camera) e.device = p.camera;\n    if (p.conf || p.confidence) e.confidence = p.conf || p.confidence;\n}\n// Fallback\nelse {\n    e.category = 'presence';\n    e.value = p.presence ?? true;\n    if (p.camera) e.device = p.camera;\n}\n\n// Aggiungiamo i campi extra per il tracking (node, zone, track_id)\nif (p.track_id) e.track_id = p.track_id;\nif (p.node) e.node = p.node;\nif (p.zone) e.zone = p.zone;\n\nmsg.event = e;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 890,
    "y": 400,
    "wires": [
      [
        "76396b47d2b9cf21"
      ]
    ]
  },
  {
    "id": "4dfc8d13bf46da65",
    "type": "mqtt in",
    "z": "d92b8af64f8801d5",
    "name": "Events",
    "topic": "gaia/+/events",
    "qos": "1",
    "datatype": "json",
    "broker": "29b6d5926d1a95ec",
    "nl": false,
    "rap": false,
    "inputs": 0,
    "x": 130,
    "y": 280,
    "wires": [
      [
        "44882f413905a1b1"
      ]
    ]
  },
  {
    "id": "f26cfe8db0c01ab7",
    "type": "mqtt in",
    "z": "d92b8af64f8801d5",
    "name": "Frame",
    "topic": "gaia/+/frame",
    "qos": "1",
    "datatype": "json",
    "broker": "29b6d5926d1a95ec",
    "nl": false,
    "rap": false,
    "inputs": 0,
    "x": 130,
    "y": 340,
    "wires": [
      [
        "44882f413905a1b1"
      ]
    ]
  },
  {
    "id": "c9fb6a26b2115202",
    "type": "mqtt in",
    "z": "d92b8af64f8801d5",
    "name": "MediaPipe",
    "topic": "gaia/mediapipe/pose",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "29b6d5926d1a95ec",
    "nl": false,
    "rap": false,
    "inputs": 0,
    "x": 140,
    "y": 400,
    "wires": [
      [
        "44882f413905a1b1"
      ]
    ]
  },
  {
    "id": "becafde7042cfab6",
    "type": "mqtt in",
    "z": "d92b8af64f8801d5",
    "name": "Plants",
    "topic": "casa/+/pianta/+/+",
    "qos": "1",
    "datatype": "auto-detect",
    "broker": "29b6d5926d1a95ec",
    "nl": false,
    "rap": false,
    "inputs": 0,
    "x": 130,
    "y": 460,
    "wires": [
      [
        "a2b3f4e0977cd510"
      ]
    ]
  },
  {
    "id": "a2b3f4e0977cd510",
    "type": "function",
    "z": "d92b8af64f8801d5",
    "name": "preparser",
    "func": "const parts = msg.topic.split('/');\nconst room = parts[1];\nconst plantId = parts[3];\nmsg.payload = { origin: \"mqtt_plants\", type: \"plant\", room: room, id: plantId, value: parseFloat(msg.payload) };\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 280,
    "y": 460,
    "wires": [
      [
        "44882f413905a1b1"
      ]
    ]
  },
  {
    "id": "1e3369f83d53851e",
    "type": "mqtt in",
    "z": "d92b8af64f8801d5",
    "name": "Hue",
    "topic": "openhab/hue/#",
    "qos": "1",
    "datatype": "auto-detect",
    "broker": "29b6d5926d1a95ec",
    "inputs": 0,
    "x": 130,
    "y": 508,
    "wires": [
      [
        "44882f413905a1b1"
      ]
    ]
  },
  {
    "id": "442e0e72cd16897a",
    "type": "mqtt in",
    "z": "d92b8af64f8801d5",
    "name": "Vision",
    "topic": "gaia/vision/brain_input",
    "qos": "1",
    "datatype": "auto-detect",
    "broker": "29b6d5926d1a95ec",
    "nl": false,
    "rap": false,
    "inputs": 0,
    "x": 130,
    "y": 560,
    "wires": [
      [
        "44882f413905a1b1"
      ]
    ]
  },
  {
    "id": "f5ccb1b60914b832",
    "type": "mqtt in",
    "z": "d92b8af64f8801d5",
    "name": "Face Recognition",
    "topic": "gaia/vision/person",
    "qos": "1",
    "datatype": "json",
    "broker": "29b6d5926d1a95ec",
    "inputs": 0,
    "x": 160,
    "y": 620,
    "wires": [
      [
        "b2ec295f9322f551"
      ]
    ]
  },
  {
    "id": "b2ec295f9322f551",
    "type": "function",
    "z": "d92b8af64f8801d5",
    "name": "PresenceEngine",
    "func": "let brain = global.get('gaiaBrain') || {};\nbrain.presence = brain.presence || {};\nbrain.people = brain.people || {};\nbrain.sessions = brain.sessions || {};\nbrain.rooms = brain.rooms || {};\nconst now = Date.now();\nconst PRESENCE_TIMEOUT = 90000;\nlet timeoutCleaned = false;\nObject.keys(brain.presence).forEach(p => { const data = brain.presence[p]; if (data.present && (now - (data.lastSeen || 0)) > PRESENCE_TIMEOUT) { const prevRoom = data.room; data.present = false; data.room = null; data.exitTs = now; if (data.enterTs) { const duration = now - data.enterTs; if (brain.people[p]) brain.people[p].totalTime = (brain.people[p].totalTime || 0) + duration; } if (prevRoom && brain.rooms[prevRoom]) { brain.rooms[prevRoom].people = (brain.rooms[prevRoom].people || []).filter(n => n !== p); brain.rooms[prevRoom].persons_count = brain.rooms[prevRoom].people.length; brain.rooms[prevRoom].lastUpdate = now; } timeoutCleaned = true; } });\nif (timeoutCleaned) global.set('gaiaBrain', brain);\nif (msg.payload && msg.payload.__cleanup === true) { if (timeoutCleaned) global.set('gaiaBrain', brain); return null; }\nconst payload = msg.payload || {};\nconst personRaw = payload.person || payload.name || 'unknown';\nconst person = String(personRaw).toLowerCase().trim();\nconst camera = payload.camera || payload.room || 'salotto';\nconst eventType = payload.event || payload.type || 'seen';\nconst confidence = payload.confidence || payload.conf || 0.5;\nconst trackId = payload.track_id;\nconst isUnknown = (person === 'unknown' || person.startsWith('unknown'));\nif (eventType === 'left' || eventType === 'exit' || eventType === 'person_left') { if (brain.presence[person] && brain.presence[person].present) { const duration = now - (brain.presence[person].enterTs || now); brain.presence[person].present = false; brain.presence[person].room = null; brain.presence[person].exitTs = now; if (brain.people[person]) { brain.people[person].totalTime = (brain.people[person].totalTime || 0) + duration; brain.people[person].lastSeen = now; } if (brain.rooms[camera]) { brain.rooms[camera].persons_count = Math.max(0, (brain.rooms[camera].persons_count || 1) - 1); brain.rooms[camera].people = (brain.rooms[camera].people || []).filter(p => p !== person); if (brain.rooms[camera].main_user === person) brain.rooms[camera].main_user = null; } global.set('gaiaBrain', brain); msg.payload = { person, camera, event: 'exit', duration, ts: now }; return msg; } return null; }\nif (eventType === 'identity') { const realPerson = person; if (realPerson === 'unknown') return null; const _yoloCount = brain.rooms[camera]?.persons_count; if (_yoloCount !== undefined && _yoloCount === 0) return null; const unknownsInRoom = Object.entries(brain.presence).filter(([p, data]) => p.startsWith('unknown') && data.present && data.room === camera).map(([p]) => p); for (const unk of unknownsInRoom) { delete brain.presence[unk]; } if (brain.rooms[camera]) { brain.rooms[camera].people = (brain.rooms[camera].people || []).filter(p => !p.startsWith('unknown')); } if (!brain.presence[realPerson]) brain.presence[realPerson] = { present: false, enterTs: 0, lastSeen: 0, room: '', confidence: 0 }; const wasPresent = brain.presence[realPerson].present; brain.presence[realPerson].present = true; brain.presence[realPerson].lastSeen = now; brain.presence[realPerson].room = camera; brain.presence[realPerson].confidence = confidence; if (!wasPresent) { brain.presence[realPerson].enterTs = now; if (!brain.people[realPerson]) brain.people[realPerson] = { visits: 0, totalTime: 0, affinity: 0.5, lastSeen: now, firstSeen: now }; brain.people[realPerson].visits += 1; brain.people[realPerson].affinity = Math.min(1, (brain.people[realPerson].affinity || 0.5) + 0.05); } if (!brain.rooms[camera]) brain.rooms[camera] = { id: camera, name: camera, persons_count: 0, people: [], objects: {}, lastUpdate: now }; if (!brain.rooms[camera].people.includes(realPerson)) brain.rooms[camera].people.push(realPerson); brain.rooms[camera].persons_count = brain.rooms[camera].people.length; brain.rooms[camera].lastUpdate = now; if (brain.rooms[camera].persons_count === 1 || !brain.rooms[camera].main_user) brain.rooms[camera].main_user = realPerson; global.set('gaiaBrain', brain); const _identityEnter = { payload: { person: realPerson, camera: camera, event: 'enter', confidence: confidence, ts: now } }; node.send([_identityEnter, null]); return null; }\nif (!person) return null;\nif (!brain.presence[person]) brain.presence[person] = { present: false, enterTs: 0, lastSeen: 0, room: '', confidence: 0 };\nif (!brain.sessions[person]) brain.sessions[person] = [];\nif (!brain.people[person]) brain.people[person] = { visits: 0, totalTime: 0, affinity: 0.5, lastSeen: now, firstSeen: now };\nconst wasPresent = brain.presence[person].present;\nconst previousRoom = brain.presence[person].room;\nbrain.presence[person].present = true;\nbrain.presence[person].lastSeen = now;\nbrain.presence[person].room = camera;\nbrain.presence[person].confidence = confidence;\nlet event = 'seen';\nlet duration = 0;\nif (!wasPresent) { brain.presence[person].enterTs = now; event = 'enter'; brain.people[person].visits += 1; brain.people[person].affinity = Math.min(1, (brain.people[person].affinity || 0.5) + 0.05); } else if (previousRoom !== camera) { event = 'move'; }\nif (brain.presence[person].enterTs) duration = now - brain.presence[person].enterTs;\nbrain.people[person].lastSeen = now;\nbrain.people[person].affinity = Math.min(1, (brain.people[person].affinity || 0.5) + 0.01);\nif (!brain.rooms[camera]) brain.rooms[camera] = { id: camera, name: camera, persons_count: 0, people: [], objects: {}, lastUpdate: now };\nif (!brain.rooms[camera].people.includes(person)) brain.rooms[camera].people.push(person);\nbrain.rooms[camera].persons_count = brain.rooms[camera].people.length;\nbrain.rooms[camera].lastUpdate = now;\nif (brain.rooms[camera].persons_count === 1 || !brain.rooms[camera].main_user) brain.rooms[camera].main_user = person;\nif (event === 'enter' || (wasPresent && duration > 60000)) { const lastSession = brain.sessions[person][brain.sessions[person].length - 1]; if (lastSession && !lastSession.end) { lastSession.end = now; lastSession.duration = duration; } else { brain.sessions[person].push({ start: brain.presence[person].enterTs, end: now, duration: duration, camera: camera }); } if (brain.sessions[person].length > 50) brain.sessions[person].shift(); }\nglobal.set('gaiaBrain', brain);\nmsg.payload = { person: person, camera: camera, event: event, duration: duration, confidence: confidence, ts: now, wasPresent: wasPresent, room: brain.rooms[camera] };\nif (event === 'enter' && !isUnknown) msg.tts = `Benvenuto ${person.charAt(0).toUpperCase() + person.slice(1)}`;\nreturn msg;",
    "outputs": 2,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 340,
    "y": 620,
    "wires": [
      [
        "44882f413905a1b1",
        "64e19917781543d2",
        "e63cb7cb2064eaaf"
      ],
      []
    ]
  },
  {
    "id": "76396b47d2b9cf21",
    "type": "link out",
    "z": "d92b8af64f8801d5",
    "name": "Normalyzerout",
    "mode": "link",
    "links": [
      "ad141860e20e36ce"
    ],
    "x": 1215,
    "y": 340,
    "wires": []
  },
  {
    "id": "e63cb7cb2064eaaf",
    "type": "mqtt out",
    "z": "d92b8af64f8801d5",
    "name": "Presence State",
    "topic": "gaia/presence/state",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "29b6d5926d1a95ec",
    "x": 660,
    "y": 700,
    "wires": []
  },
  {
    "id": "64e19917781543d2",
    "type": "function",
    "z": "d92b8af64f8801d5",
    "name": "Narrative Presence",
    "func": "if (msg.payload.event !== 'enter') return null;\nconst p = msg.payload.person;\n\n// Non salutare sconosciuti o ID YOLO anonimi\nif (!p || p === 'unknown' || p.startsWith('unknown')) return null;\n\n// Saluta solo se assente da almeno 15 minuti\nconst MIN_ABSENCE_MS = 15 * 60 * 1000;\nconst now = Date.now();\nconst lastGreeted = global.get('gaiaTTSGreeted') || {};\nconst last = lastGreeted[p] || 0;\n\nif (now - last < MIN_ABSENCE_MS) return null;\n\nlastGreeted[p] = now;\nglobal.set('gaiaTTSGreeted', lastGreeted);\n\nconst name = p.charAt(0).toUpperCase() + p.slice(1);\nmsg.topic = 'casa/tts/play';\nmsg.payload = `Bentornato ${name}`;\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 610,
    "y": 620,
    "wires": [
      [
        "3b25638a233dfc62"
      ]
    ]
  },
  {
    "id": "3b25638a233dfc62",
    "type": "mqtt out",
    "z": "d92b8af64f8801d5",
    "name": "TTS Presence",
    "topic": "casa/tts/play",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "29b6d5926d1a95ec",
    "x": 700,
    "y": 620,
    "wires": []
  },
  {
    "id": "b7f3a1e2c9d40001",
    "type": "function",
    "z": "d92b8af64f8801d5",
    "name": "MediaPipePreParser",
    "func": "// Pre-parser MediaPipe: crea/aggiorna brain.rooms dal payload raw\n// Segnali: person_detected=true → persona presente\n//          person_detected=false/assente → nessuno (pubblica il Pi ogni 1s)\n//          emotion=null → volto non visibile (ma persona può esserci via body/hands)\nconst p = msg.payload || {};\nif (typeof p !== 'object' || !p.camera) return msg;\n\nconst camera = p.camera || p.node;\nif (!camera) return msg;\n\nlet brain = global.get('gaiaBrain') || {};\nbrain.rooms = brain.rooms || {};\nconst now = Date.now();\n\nif (!brain.rooms[camera]) {\n    brain.rooms[camera] = {\n        id: camera, name: camera, persons_count: 0,\n        objects: {}, lastUpdate: now, people: [], main_user: null\n    };\n}\nconst room = brain.rooms[camera];\nroom.lastUpdate = now;\nroom._mediapipe = true;\n\nif (p.person_detected === true) {\n    if ((room.persons_count || 0) === 0) {\n        room.persons_count = 1;\n    }\n    room.activity = 'present';\n\n    // emotion può essere null se il volto non è visibile (solo body/hands)\n    if (p.emotion !== null && p.emotion !== undefined) {\n        room.currentEmotion = p.emotion;\n    }\n    if (p.pose) {\n        room.currentPose = p.pose;\n    }\n\n    room.mediapipe = {\n        emotion:     p.emotion     || null,\n        pose:        p.pose        || 'unknown',\n        attention:   p.attention   || 'unknown',\n        smile_score: p.smile_score || 0,\n        mouth_open:  p.mouth_open  || false,\n        eyes_open:   p.eyes_open  !== false,\n        gesture:     (p.gesture && p.gesture !== 'none') ? p.gesture : null,\n        ts: now\n    };\n\n    const namedPeople = (room.people || []).filter(n => !n.startsWith('unknown'));\n    if (namedPeople.length === 1 && p.emotion !== null && p.emotion !== undefined) {\n        const sp = namedPeople[0];\n        brain.emotions = brain.emotions || {};\n        if (!brain.emotions[sp]) brain.emotions[sp] = {};\n        brain.emotions[sp].emotion   = p.emotion;\n        brain.emotions[sp].attention = p.attention;\n        brain.emotions[sp].smile     = p.smile_score;\n        brain.emotions[sp].lastSeen  = now;\n        brain.presence = brain.presence || {};\n        if (!brain.presence[sp]) brain.presence[sp] = {};\n        brain.presence[sp].pose     = p.pose;\n        brain.presence[sp].lastSeen = now;\n    }\n} else {\n    // Nessuna persona rilevata → azzera\n    room.mediapipe = null;\n    const hasYoloPeople = (room.people || []).length > 0;\n    if (!hasYoloPeople) {\n        room.persons_count = 0;\n        room.activity = 'idle';\n    }\n}\n\nglobal.set('gaiaBrain', brain);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 750,
    "y": 340,
    "wires": [
      [
        "6ebd50e6dfa8dbef"
      ]
    ]
  },
  {
    "id": "b6ee3252b6912e1b",
    "type": "function",
    "z": "d3a553c4a24c8d2d",
    "name": "GAIA Brain",
    "func": "let brain = global.get('gaiaBrain') || {};\n\n// Evento diretto dal Presence Engine\nif (msg.payload && msg.payload.person && msg.payload.event) {\n    msg.event = {\n        ts: msg.payload.ts || Date.now(),\n        source: 'vision',\n        category: 'presence',\n        value: msg.payload.event,\n        person: msg.payload.person,\n        device: msg.payload.camera,\n        confidence: msg.payload.confidence || 0.8,\n        track_id: msg.payload.track_id,\n        node: msg.payload.node,\n        camera: msg.payload.camera\n    };\n}\n\n// Inizializzazione strutture\nif (typeof brain.plants !== 'object' || brain.plants === null) brain.plants = {};\nif (typeof brain.people !== 'object' || brain.people === null) brain.people = {};\nif (typeof brain.rooms !== 'object' || brain.rooms === null) brain.rooms = {};\nif (typeof brain.lights !== 'object' || brain.lights === null) brain.lights = {};\nif (typeof brain.sensors !== 'object' || brain.sensors === null) brain.sensors = {};\nif (typeof brain.metrics !== 'object' || brain.metrics === null) brain.metrics = {};\nif (!Array.isArray(brain.diary)) brain.diary = [];\nif (!Array.isArray(brain.thoughts)) brain.thoughts = [];\nif (!Array.isArray(brain.memories)) brain.memories = [];\nif (!Array.isArray(brain.events)) brain.events = [];\nif (typeof brain.presence !== 'object' || brain.presence === null) brain.presence = {};\nif (typeof brain.sessions !== 'object' || brain.sessions === null) brain.sessions = {};\nif (typeof brain.emotions !== 'object' || brain.emotions === null) brain.emotions = {};\nif (typeof brain.gestures !== 'object' || brain.gestures === null) brain.gestures = {};\nif (typeof brain.gamification !== 'object' || brain.gamification === null) {\n    brain.gamification = { level: 1, xp: 0, xpNextLevel: 1000, activeClass: \"Neutro\", unlockedAssets: [\"base_grid\"] };\n}\nif (!brain.mood || typeof brain.mood.stress !== 'number' || isNaN(brain.mood.stress)) {\n    brain.mood = { stress: 0, calm: 0, social: 0, curiosity: 0, energy: 50, state: \"neutra\" };\n}\n\nconst e = msg.event;\nconst now = Date.now();\nif (!e) return null;\nif (e.category === 'status' && e.value === 'online' && !e.person) return null;\n\nbrain.events.push({ ts: now, source: e.source, category: e.category, value: e.value, person: e.person || null });\nif (brain.events.length > 5000) brain.events.shift();\n\n// =========================\n// LOGICHE SENSORI\n// =========================\nif (e.source === \"plant\") {\n    const plantId = e.device || \"unknown\";\n    if (!brain.plants[plantId]) brain.plants[plantId] = {};\n    brain.plants[plantId].moisture = Number(e.value || 0);\n    brain.plants[plantId].lastSeen = now;\n    if (e.room) brain.plants[plantId].room = e.room;\n}\nelse if (e.source === \"hue\") {\n    const deviceId = e.device || \"unknown\";\n    if (!brain.lights[deviceId]) brain.lights[deviceId] = { brightness: 0, color: null, power: false, motion: false, colorTemp: null, alert: 'NONE', lastUpdate: now };\n    if (!brain.sensors[deviceId]) brain.sensors[deviceId] = { temperature: null, ambient_light: null, darkness: false, daylight: false, motion: false, battery_low: false, lastUpdate: now };\n    const light = brain.lights[deviceId];\n    const sensor = brain.sensors[deviceId];\n    switch (e.category) {\n        case 'ambient_light': sensor.ambient_light = e.value; break;\n        case 'temperature': sensor.temperature = e.value; break;\n        case 'motion': sensor.motion = e.value; light.motion = e.value; break;\n        case 'color': light.color = e.value; break;\n        case 'brightness': light.brightness = e.value; break;\n        case 'power': light.power = e.value; break;\n    }\n    light.lastUpdate = now; sensor.lastUpdate = now;\n}\nelse if (e.source === \"mediapipe\" && e.person) {\n    // roomId: from MediaPipeNorm device field (= camera/node in payload)\n    const roomId = e.room || e.device || e.node || null;\n\n    // Only update presence + room.people for KNOWN people\n    // MediaPipe detects presence but can't name people — that's face recognition's job\n    if (e.person !== 'unknown' && roomId) {\n        if (!brain.presence[e.person]) {\n            brain.presence[e.person] = { present: true, room: roomId, lastSeen: now, confidence: e.confidence || 0.5, enterTs: now };\n        } else {\n            brain.presence[e.person].present = true;\n            brain.presence[e.person].lastSeen = now;\n            brain.presence[e.person].confidence = e.confidence || brain.presence[e.person].confidence;\n            if (!brain.presence[e.person].room) brain.presence[e.person].room = roomId;\n            if (!brain.presence[e.person].enterTs) brain.presence[e.person].enterTs = now;\n        }\n        if (!brain.rooms[roomId]) {\n            brain.rooms[roomId] = { id: roomId, name: roomId, persons_count: 0, objects: {}, lastUpdate: now, people: [], main_user: null };\n        }\n        if (!brain.rooms[roomId].people.includes(e.person)) {\n            brain.rooms[roomId].people.push(e.person);\n            brain.rooms[roomId].persons_count = brain.rooms[roomId].people.length;\n        }\n        brain.rooms[roomId].lastUpdate = now;\n    }\n\n    // Update room-level emotion/pose/gesture (works for any person including unknown)\n    if (e.category === 'emotion') {\n        if (e.person !== 'unknown') {\n            if (!brain.emotions[e.person]) brain.emotions[e.person] = {};\n            brain.emotions[e.person].emotion = e.value;\n            brain.emotions[e.person].confidence = e.confidence;\n            brain.emotions[e.person].lastSeen = now;\n        }\n        if (roomId && brain.rooms[roomId]) {\n            brain.rooms[roomId].currentEmotion = e.value;\n            if (brain.rooms[roomId].people?.length === 1) {\n                const sp = brain.rooms[roomId].people[0];\n                if (!brain.emotions[sp]) brain.emotions[sp] = {};\n                brain.emotions[sp].emotion = e.value; brain.emotions[sp].confidence = e.confidence; brain.emotions[sp].lastSeen = now;\n            }\n        }\n    } else if (e.category === 'gesture') {\n        if (e.person !== 'unknown') {\n            if (!brain.gestures[e.person]) brain.gestures[e.person] = {};\n            brain.gestures[e.person].gesture = e.value;\n            brain.gestures[e.person].lastSeen = now;\n        }\n    } else if (e.category === 'pose') {\n        if (e.person !== 'unknown') {\n            if (!brain.people[e.person]) brain.people[e.person] = {};\n            brain.people[e.person].lastPose = { pose: e.value, confidence: e.confidence, camera: e.device, ts: now };\n        }\n        if (roomId && brain.rooms[roomId]) {\n            brain.rooms[roomId].currentPose = e.value;\n            if (brain.rooms[roomId].people?.length === 1) {\n                const sp2 = brain.rooms[roomId].people[0];\n                if (!brain.presence[sp2]) brain.presence[sp2] = {};\n                brain.presence[sp2].pose = e.value;\n            }\n        }\n    }\n}\nelse if (e.source === \"vision\") {\n    let roomId = e.node || e.camera || e.device || \"salotto\";\n    let zoneName = e.zone || null;\n    if (!brain.rooms[roomId]) {\n        brain.rooms[roomId] = {\n            id: roomId, name: roomId, persons_count: 0, objects: {},\n            lastUpdate: now, people: [], main_user: null, zone: zoneName\n        };\n    } else if (zoneName && !brain.rooms[roomId].zone) {\n        brain.rooms[roomId].zone = zoneName;\n    }\n\n    // ---------- PRESENZA ----------\n    if (e.category === 'presence') {\n        let person = e.person ? e.person.toLowerCase().trim() : 'unknown';\n        let eventType = e.value;\n        if (eventType === 'person_entered') eventType = 'enter';\n        if (eventType === 'person_left') eventType = 'exit';\n        if (eventType === 'enter') {\n            if (person !== 'unknown') {\n                let unknownsToRemove = [...brain.rooms[roomId].people].filter(p => p.startsWith('unknown'));\n                for (let unknown of unknownsToRemove) {\n                    brain.rooms[roomId].people = brain.rooms[roomId].people.filter(p => p !== unknown);\n                    if (brain.presence[unknown]) {\n                        brain.presence[unknown].present = false;\n                        brain.presence[unknown].room = null;\n                    }\n                }\n            }\n            if (!brain.presence[person]) brain.presence[person] = { present: false, room: null, lastSeen: 0, confidence: 0, enterTs: now };\n            brain.presence[person].present = true;\n            brain.presence[person].room = roomId;\n            brain.presence[person].lastSeen = now;\n            brain.presence[person].confidence = e.confidence || 0.5;\n            if (!brain.presence[person].enterTs) brain.presence[person].enterTs = now;\n            if (e.track_id) brain.presence[person].track_id = e.track_id;\n            if (!brain.people[person]) brain.people[person] = { visits: 0, totalTime: 0, affinity: 0.5, lastSeen: now, firstSeen: now };\n            if (now - (brain.people[person]._lastVisitTs || 0) > 2000) {\n                brain.people[person].visits += 1;\n                brain.people[person]._lastVisitTs = now;\n            }\n            brain.people[person].lastSeen = now;\n            brain.people[person].affinity = Math.min(1, (brain.people[person].affinity || 0.5) + 0.05);\n            if (!brain.rooms[roomId].people.includes(person)) brain.rooms[roomId].people.push(person);\n            brain.rooms[roomId].persons_count = brain.rooms[roomId].people.length;\n            brain.rooms[roomId].main_user = person;\n        } else if (eventType === 'exit') {\n            if (brain.presence[person]) {\n                if (brain.presence[person].enterTs) {\n                    const duration = now - brain.presence[person].enterTs;\n                    if (brain.people[person]) brain.people[person].totalTime = (brain.people[person].totalTime || 0) + duration;\n                }\n                brain.presence[person].present = false;\n                brain.presence[person].room = null;\n            }\n            brain.rooms[roomId].people = brain.rooms[roomId].people.filter(p => p !== person);\n            brain.rooms[roomId].persons_count = brain.rooms[roomId].people.length;\n            if (brain.rooms[roomId].main_user === person) brain.rooms[roomId].main_user = brain.rooms[roomId].people[0] || null;\n        }\n        brain.rooms[roomId].lastUpdate = now;\n    }\n\n    // ---------- IDENTITY ----------\n    else if (e.category === 'identity') {\n        let person = e.person ? e.person.toLowerCase().trim() : 'unknown';\n        if (person.includes('cam') || person.includes('yolo') || person === 'salotto' || person === 'vision') return null;\n        if (person !== 'unknown' && !person.startsWith('unknown_')) {\n            let foundUnknown = null;\n            for (let [name, data] of Object.entries(brain.presence)) {\n                if (name.startsWith('unknown') && data.present === true && data.room === roomId && data.track_id === e.track_id) {\n                    foundUnknown = name;\n                    break;\n                }\n            }\n            if (foundUnknown) {\n                brain.rooms[roomId].people = brain.rooms[roomId].people.filter(p => p !== foundUnknown);\n                brain.presence[foundUnknown].present = false;\n                brain.presence[foundUnknown].room = null;\n            } else {\n                let unknownsInRoom = brain.rooms[roomId].people.filter(p => p.startsWith('unknown'));\n                for (let unknown of unknownsInRoom) {\n                    brain.rooms[roomId].people = brain.rooms[roomId].people.filter(p => p !== unknown);\n                    if (brain.presence[unknown]) {\n                        brain.presence[unknown].present = false;\n                        brain.presence[unknown].room = null;\n                    }\n                }\n            }\n            for (let rid in brain.rooms) {\n                if (rid !== roomId) {\n                    brain.rooms[rid].people = brain.rooms[rid].people.filter(p => p !== person);\n                    brain.rooms[rid].persons_count = brain.rooms[rid].people.length;\n                }\n            }\n            if (!brain.presence[person]) brain.presence[person] = { present: false, room: null, lastSeen: 0, confidence: 0, enterTs: now };\n            brain.presence[person].present = true;\n            brain.presence[person].room = roomId;\n            brain.presence[person].lastSeen = now;\n            brain.presence[person].confidence = e.confidence || 0.8;\n            if (!brain.presence[person].enterTs) brain.presence[person].enterTs = now;\n            if (e.track_id) brain.presence[person].track_id = e.track_id;\n            if (!brain.people[person]) brain.people[person] = { visits: 0, totalTime: 0, affinity: 0.5, lastSeen: now, firstSeen: now };\n            brain.people[person].lastSeen = now;\n            if (now - (brain.people[person]._lastVisitTs || 0) > 2000) {\n                brain.people[person].visits = (brain.people[person].visits || 0) + 1;\n                brain.people[person]._lastVisitTs = now;\n            }\n            brain.people[person].affinity = Math.min(1, (brain.people[person].affinity || 0.5) + 0.05);\n            if (!brain.rooms[roomId].people.includes(person)) brain.rooms[roomId].people.push(person);\n            brain.rooms[roomId].persons_count = brain.rooms[roomId].people.length;\n            brain.rooms[roomId].main_user = person;\n        }\n        brain.rooms[roomId].lastUpdate = now;\n    }\n\n    // ---------- SPATIAL ANALYSIS / FRAME ----------\n    // ---------- SPATIAL ANALYSIS / FRAME ----------\nelse if (e.category === 'spatial_analysis' || e.category === 'room_frame') {\n    let yoloCount = e.value?.persons_count || 0;\n    let oldActivity = brain.rooms[roomId] ? brain.rooms[roomId].activity : null;\n    \n    if (!brain.rooms[roomId]) {\n        brain.rooms[roomId] = { people: [], persons_count: 0, objects: {}, lastUpdate: now };\n    }\n    \n    // 1. Prendi le persone reali (non unknown) dalla lista corrente della stanza\n    let currentRealNames = (brain.rooms[roomId].people || []).filter(p => !p.startsWith('unknown'));\n    \n    // Se ci sono persone reali, rimuovi sempre gli unknown dalla stanza\n    if (currentRealNames.length > 0) {\n        const unknownsToRemove = (brain.rooms[roomId].people || []).filter(p => p.startsWith('unknown'));\n        for (const unk of unknownsToRemove) {\n            if (brain.presence[unk]) { brain.presence[unk].present = false; brain.presence[unk].room = null; }\n        }\n    }\n\n    // 2. Calcola quanti unknown servono per raggiungere yoloCount\n    let newPeopleList = [...currentRealNames];\n    let neededUnknowns = yoloCount - newPeopleList.length;\n    \n    // Se YOLO vede meno persone delle reali (caso raro), taglia le reali in eccesso\n    if (neededUnknowns < 0) {\n        newPeopleList = newPeopleList.slice(0, yoloCount);\n        neededUnknowns = 0;\n    }\n    \n    // 3. Crea gli unknown necessari\n    for (let i = 0; i < neededUnknowns; i++) {\n        let newUnknown = `unknown_${Date.now()}_${i}`;\n        if (!brain.presence[newUnknown]) {\n            brain.presence[newUnknown] = { present: true, room: roomId, lastSeen: now, confidence: 0.3, enterTs: now };\n        } else {\n            brain.presence[newUnknown].present = true;\n            brain.presence[newUnknown].room = roomId;\n            brain.presence[newUnknown].lastSeen = now;\n        }\n        newPeopleList.push(newUnknown);\n    }\n    \n    // 4. Rimuovi dalla stanza gli unknown che non sono più nella nuova lista\n    let oldPeopleList = brain.rooms[roomId].people || [];\n    for (let old of oldPeopleList) {\n        if (old.startsWith('unknown') && !newPeopleList.includes(old)) {\n            if (brain.presence[old]) {\n                delete brain.presence[old];\n            }\n        }\n    }\n    \n    // 5. Aggiorna la stanza\n    brain.rooms[roomId].people = newPeopleList;\n    brain.rooms[roomId].persons_count = newPeopleList.length;\n    for (let person of newPeopleList) {\n        if (brain.presence[person]) brain.presence[person].lastSeen = now;\n    }\n    \n    // 6. Oggetti e attività\n    let objects = {};\n    if (e.value && e.value.objects) objects = e.value.objects;\n    else if (e.value && e.value.room && e.value.room.objects) objects = e.value.room.objects;\n    brain.rooms[roomId].objects = objects;\n    \n    if (objects.laptop || objects.computer) brain.rooms[roomId].activity = \"working\";\n    else if (objects.bed) brain.rooms[roomId].activity = \"resting\";\n    else if (objects.couch || objects.chair) brain.rooms[roomId].activity = \"sitting\";\n    else if (newPeopleList.length > 0) brain.rooms[roomId].activity = \"present\";\n    else brain.rooms[roomId].activity = \"empty\";\n    \n    // 7. Eventuali fuoco/animali\n    if (e.fire_detected) {\n        brain.rooms[roomId].objects.fire = true;\n        brain.rooms[roomId].fireDetectedAt = now;\n    }\n    if (e.animal_detected) {\n        brain.rooms[roomId].objects[e.animal_type] = true;\n        brain.rooms[roomId].lastAnimalSeen = now;\n    }\n    \n    // 8. Memoria episodica (Qdrant)\n    let newActivity = brain.rooms[roomId].activity;\n    if (oldActivity !== newActivity && newActivity !== 'empty' && newPeopleList.length > 0) {\n        let persons = newPeopleList.filter(p => !p.startsWith('unknown')).join(', ');\n        if (!persons) persons = \"Qualcuno\";\n        let action = '';\n        if (newActivity === 'working') action = 'ha iniziato a lavorare';\n        else if (newActivity === 'resting') action = 'si sta riposando';\n        else if (newActivity === 'sitting') action = 'si è seduto';\n        else action = 'è presente';\n        let eventText = `${persons} ${action} in ${roomId}`;\n        let storeMsg = {\n            url: \"http://localhost:8000/store\",\n            method: \"POST\",\n            headers: { \"Content-Type\": \"application/json\" },\n            payload: {\n                text: eventText,\n                metadata: { room: roomId, activity: newActivity, ts: now },\n                collection: \"gaia_episodes\"\n            }\n        };\n        node.send([null, { topic: 'qdrant/store', payload: storeMsg.payload, storeUrl: storeMsg.url }]);    }\n    \n    brain.rooms[roomId].lastUpdate = now;\n    }\n}\nelse if (e.source === \"doorbell\") {\n    brain.lastDoorbell = now;\n}\nelse if (e.category === 'hazard') {\n    // hazard detected\n}\n\n// =========================\n// MOOD & LIFE INDEX\n// =========================\nconst DECAY = 0.002;\nconst mood = brain.mood;\nmood.stress = Math.max(0, Math.min(1, mood.stress - DECAY));\nmood.calm = Math.max(0, Math.min(1, mood.calm - DECAY));\nmood.social = Math.max(0, Math.min(1, mood.social - DECAY));\nmood.curiosity = Math.max(0, Math.min(1, mood.curiosity - DECAY));\n\nif (e.category === 'motion' && e.value === true) {\n    mood.energy = Math.min(100, mood.energy + 2);\n    mood.calm = Math.max(0, mood.calm - 0.05);\n}\nif (e.category === 'presence' && e.value === 'enter') {\n    mood.social = Math.min(1, mood.social + 0.1);\n    mood.energy = Math.min(100, mood.energy + 5);\n}\nif (e.category === 'presence' && e.value === 'exit') {\n    mood.social = Math.max(0, mood.social - 0.05);\n}\nif (e.source === 'plant' && typeof e.value === 'number' && e.value < 25) {\n    mood.stress = Math.min(1, mood.stress + 0.05);\n}\nif (e.category === 'hazard') {\n    mood.stress = Math.min(1, mood.stress + 0.3);\n}\n\nconst scores = { stress: mood.stress, calm: mood.calm, social: mood.social, curiosity: mood.curiosity };\nconst dominant = Object.entries(scores).sort((a, b) => b[1] - a[1])[0];\nmood.state = (dominant[1] < 0.1) ? 'neutra' : dominant[0];\n\nconst presentCount = Object.values(brain.presence || {}).filter(p => p.present).length;\nconst healthyPlants = Object.values(brain.plants || {}).filter(p => (p.moisture || 0) >= 50).length;\nconst totalPlants = Object.keys(brain.plants || {}).length;\nbrain.lifeIndex = Math.round(\n    (mood.energy * 0.4) +\n    (Math.min(presentCount, 3) / 3 * 30) +\n    (totalPlants > 0 ? (healthyPlants / totalPlants * 30) : 30)\n);\n\nbrain.diary.push({ ts: now, source: e.source, category: e.category, value: e.value, person: e.person || null });\nif (brain.diary.length > 2000) brain.diary.shift();\nbrain.lastUpdate = now;\nglobal.set(\"gaiaBrain\", brain);\n\nmsg.payload = {\n    mood: brain.mood?.state || \"neutra\",\n    lifeIndex: brain.lifeIndex || 50,\n    gamification: brain.gamification,\n    presence: brain.presence,\n    rooms: brain.rooms,\n    ts: now\n};\nreturn msg;",
    "outputs": 2,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 190,
    "y": 460,
    "wires": [
      [
        "984e8aa19bdbfaf1",
        "6fc18b9a93b4c46d",
        "8b62e3834e77ba91",
        "c2dec82d55826e91",
        "mood_scene_sync_01"
      ],
      [
        "c9cffd3351fe0ad6"
      ]
    ]
  },
  {
    "id": "8b62e3834e77ba91",
    "type": "function",
    "z": "d3a553c4a24c8d2d",
    "name": "ThreeViewEngineGAME",
    "func": "let brain = global.get('gaiaBrain') || {};\nconst now = Date.now();\nconst PRESENCE_TIMEOUT = 30000;\nfunction rgbToHex(rgbString) { if (!rgbString || typeof rgbString !== 'string') return '#ffffff'; if (rgbString.startsWith('#') || rgbString.startsWith('0x')) return rgbString; const parts = rgbString.split(',').map(Number); if (parts.length === 3 && parts.every(p => !isNaN(p))) return '#' + parts.map(c => Math.min(255, Math.max(0, Math.round(c))).toString(16).padStart(2, '0')).join(''); return '#ffffff'; }\nlet presenceUpdated = false;\nObject.keys(brain.presence || {}).forEach(name => { const p = brain.presence[name]; if (p.present && (now - (p.lastSeen || 0)) > PRESENCE_TIMEOUT) { p.present = false; p.room = null; presenceUpdated = true; } });\nif (presenceUpdated) global.set('gaiaBrain', brain);\nconst people = [];\nconst roomsMap = {};\nObject.entries(brain.rooms || {}).forEach(([roomId, roomData]) => { if (roomId.includes('cam') || roomId.includes('vision') || roomId === 'unknown') return; const roomPeople = roomData.people || []; const isActiveMp = roomData._mediapipe && (roomData.persons_count||0) > 0; if (roomPeople.length === 0 && !isActiveMp) return; roomsMap[roomId] = { id: roomId, name: roomId, persons_count: roomData._mediapipe && roomPeople.length === 0 ? (roomData.persons_count||0) : roomPeople.length, people: new Set(), activity: roomData.activity || 'idle', lastSeen: roomData.lastUpdate || now, temperature: roomData.temperature || null, humidity: roomData.humidity || null, objects: roomData.objects || {},\n        currentEmotion: roomData.currentEmotion || null,\n        currentPose: roomData.currentPose || null,\n        mediapipe: roomData.mediapipe || null }; roomPeople.forEach(personName => { const isUnknown = personName.startsWith('unknown'); const unknownIdx = isUnknown ? (roomPeople.filter((p,j) => j <= roomPeople.indexOf(personName) && p.startsWith('unknown')).length) : 0; const displayName = isUnknown ? (unknownIdx > 1 ? `Ospite ${unknownIdx}` : 'Ospite') : personName.charAt(0).toUpperCase() + personName.slice(1); people.push({ name: displayName, realId: personName, present: true, room: roomId, lastSeen: (brain.presence?.[personName]?.lastSeen) || now, confidence: (brain.presence?.[personName]?.confidence) || 0.5, emotion: brain.emotions?.[personName]?.emotion || 'neutral',\n                pose: brain.presence?.[personName]?.pose || brain.people?.[personName]?.lastPose?.pose || 'unknown', visits: brain.people?.[personName]?.visits || 0, affinity: brain.people?.[personName]?.affinity || 0, currentSessionDuration: (brain.presence?.[personName]?.enterTs) ? Math.round((now - brain.presence[personName].enterTs) / 1000) : 0, totalPresence: Math.round((brain.people?.[personName]?.totalPresence || 0) / 1000), gesture: brain.gestures?.[personName]?.gesture || 'none', averageSessionDuration: (brain.sessions?.[personName] || []).reduce((sum, s) => sum + (s.duration || 0), 0) / (brain.sessions?.[personName]?.length || 1) / 1000, lastSessions: (brain.sessions?.[personName] || []).slice(-5).map(s => ({ start: s.start, duration: Math.round((s.duration || 0) / 1000), room: s.camera || 'unknown' })) }); roomsMap[roomId].people.add(displayName); }); });\nconst rooms = Object.values(roomsMap).map(r => ({ ...r, people: Array.from(r.people) }));\nconst lights = Object.entries(brain.lights || {}).filter(([id]) => !id.toLowerCase().match(/(sensore|sensor|movimento|temperature|batteria|illuminazione|oscurita|luce_diurna)/)).map(([id, l]) => ({ id, brightness: l.brightness || 0, color: rgbToHex(l.color), colorTemp: l.colorTemp || null, colorTempAbs: l.colorTempAbs || null, motion: l.motion || false, power: l.power || false, alert: l.alert || 'NONE', lastUpdate: l.lastUpdate || 0 }));\nconst plants = Object.entries(brain.plants || {}).map(([id, p]) => ({ id, moisture: p.moisture || 0, lastSeen: p.lastSeen || 0, health: (p.moisture || 0) / 100, status: (p.moisture || 0) < 25 ? 'critical' : (p.moisture || 0) < 50 ? 'warning' : 'good' }));\nconst sensors = Object.entries(brain.sensors || {}).map(([id, s]) => ({ id, temperature: s.temperature || null, ambient_light: s.ambient_light || null, darkness: s.darkness || false, daylight: s.daylight || false, motion: s.motion || false, battery_level: s.battery_level || null, battery_low: s.battery_low || false, lastUpdate: s.lastUpdate || 0 }));\nconst visionData = { rooms: rooms, people: people.map(p => ({ name: p.name, lastSeen: p.lastSeen, camera: p.room, confidence: p.confidence, present: true })), emotions: brain.vision?.emotions || brain.emotions || {}, events: (brain.events || []).filter(ev => ev.source === 'vision').slice(-10), lastUpdate: now };\nconst metrics = { ...brain.metrics, activePeople: people.length, activeLights: lights.filter(l => l.power).length, activeMotionSensors: sensors.filter(s => s.motion).length, lowBatteryDevices: sensors.filter(s => s.battery_low).length, averageTemperature: sensors.filter(s => s.temperature !== null).reduce((sum, s, _, arr) => sum + (s.temperature / arr.length), 0) || 0, averageLight: sensors.filter(s => s.ambient_light !== null).reduce((sum, s, _, arr) => sum + (s.ambient_light / arr.length), 0) || 0, moodTrend: brain.metrics?.moodTrend || 'stable', activityTrend: brain.metrics?.activityTrend || 'stable' };\nconst recentEvents = (brain.events || []).slice(-30).map(e => ({ ts: e.ts, source: e.source, category: e.category, value: e.value, person: e.person || null, type: e.category === 'motion' ? 'movement' : e.category === 'emotion' ? 'emotional' : e.category === 'presence' ? 'presence' : e.category === 'identity' ? 'presence' : e.category === 'brightness' ? 'light_change' : e.category === 'temperature' ? 'climate' : 'other' }));\nconst hourlyStats = { hour: new Date().getHours(), dayOfWeek: new Date().getDay(), isNight: new Date().getHours() < 6 || new Date().getHours() > 22, isWeekend: [0, 6].includes(new Date().getDay()), eventsLastHour: (brain.events || []).filter(e => e.ts > now - 3600000).length, eventsLast24h: (brain.events || []).filter(e => e.ts > now - 86400000).length };\nconst soulState = { mood: brain.mood?.state || 'neutra', lifeIndex: brain.lifeIndex || 50, stress: Math.round((brain.mood?.stress || 0) * 100) / 100, calm: Math.round((brain.mood?.calm || 0) * 100) / 100, social: Math.round((brain.mood?.social || 0) * 100) / 100, curiosity: Math.round((brain.mood?.curiosity || 0) * 100) / 100, energy: brain.mood?.energy || 50 };\nconst voiceStatus = brain.voiceStatus || { status: 'idle', ts: 0 };\nconst payloadData = { ts: now, voiceStatus, soul: soulState, progression: brain.gamification || { level: 1, xp: 0, xpNextLevel: 1000, activeClass: \"Neutro\", unlockedAssets: [\"base_grid\"] }, people, lights, plants, sensors, rooms, vision: visionData, metrics, events: recentEvents, hourlyStats, thought: brain.thoughts?.slice(-1)[0]?.text || '', lastMemory: brain.memories?.slice(-1)[0]?.summary || '', stats: { totalPeopleCount: people.length, peoplePresentCount: people.length, activeLightsCount: lights.filter(l => l.power).length } };\nmsg.payload = JSON.stringify(payloadData);\n\n// SALVA L'ULTIMO PAYLOAD IN UNA VARIABILE GLOBALE\nglobal.set('gaiaDashboardPayload', payloadData);\n\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 450,
    "y": 580,
    "wires": [
      [
        "8ef4abfe0487f2a7"
      ]
    ]
  },
  {
    "id": "8ef4abfe0487f2a7",
    "type": "websocket out",
    "z": "d3a553c4a24c8d2d",
    "server": "6954514bd6852f97",
    "x": 740,
    "y": 580,
    "wires": []
  },
  {
    "id": "3a2f4fe11aad05dd",
    "type": "file",
    "z": "d3a553c4a24c8d2d",
    "name": "Save Brain",
    "filename": "/home/core/gaia/brain.json",
    "filenameType": "str",
    "appendNewline": false,
    "createDir": false,
    "overwriteFile": "true",
    "x": 650,
    "y": 360,
    "wires": [
      []
    ]
  },
  {
    "id": "984e8aa19bdbfaf1",
    "type": "mqtt out",
    "z": "d3a553c4a24c8d2d",
    "name": "Publish State",
    "topic": "gaia/brain/state",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "29b6d5926d1a95ec",
    "x": 490,
    "y": 260,
    "wires": []
  },
  {
    "id": "6fc18b9a93b4c46d",
    "type": "function",
    "z": "d3a553c4a24c8d2d",
    "name": "Cognitive Trigger",
    "func": "const now = Date.now();\nconst e = msg.event;\nif (!e) return null;\n\n// Aggiornamenti continui di frame/pose/sensori: silenzio\nconst SILENT_CATEGORIES = ['spatial_analysis', 'room_frame', 'frame_info', 'pose',\n                           'motion', 'ambient_light', 'temperature', 'brightness', 'seen'];\nif (SILENT_CATEGORIES.includes(e.category)) return null;\nif (e.source === 'mediapipe') return null;\n\n// Non parlare per sconosciuti\nif (e.person && (e.person === 'unknown' || e.person.startsWith('unknown'))) return null;\n\n// Solo eventi significativi passano al LLM\nconst isSignificant =\n    (e.category === 'hazard') ||\n    (e.category === 'identity' && e.person) ||\n    (e.category === 'presence' && (e.value === 'enter' || e.value === 'exit') && e.person) ||\n    (e.source === 'doorbell');\n\nif (!isSignificant) return null;\n\n// Throttle: 3 minuti tra un pensiero LLM e l'altro\nconst MIN_SPEAK_MS = 3 * 60 * 1000;\nconst last = global.get('gaiaLastSpeak') || 0;\nif (now - last < MIN_SPEAK_MS) return null;\n\nglobal.set('gaiaLastSpeak', now);\nreturn msg;",
    "outputs": 1,
    "x": 450,
    "y": 500,
    "wires": [
      [
        "ae696b7a144236c7"
      ]
    ]
  },
  {
    "id": "17878040aabc13a6",
    "type": "function",
    "z": "d3a553c4a24c8d2d",
    "name": "Build Prompt (Contestuale)",
    "func": "const brain = global.get('gaiaBrain') || {};\nconst p = msg.payload;\n\n// Costruisci descrizione delle persone con attività e stanza\nlet peopleDesc = [];\nObject.entries(brain.presence || {}).forEach(([name, data]) => {\n    if (data.present) {\n        // Normalizza il nome: se inizia con 'unknown', diventa 'una persona sconosciuta'\n        let displayName = name;\n        if (name.startsWith('unknown')) displayName = 'una persona sconosciuta';\n        const room = data.room || 'salotto';\n        const roomData = brain.rooms[room] || {};\n        const activity = roomData.activity || 'presente';\n        let activityText = '';\n        if (activity === 'working') activityText = 'sta lavorando';\n        else if (activity === 'resting') activityText = 'sta riposando';\n        else if (activity === 'sitting') activityText = 'è seduto';\n        else activityText = 'è presente';\n        peopleDesc.push(`${displayName} ${activityText} in ${room}`);\n    }\n});\nconst contextPeople = peopleDesc.length ? peopleDesc.join(', ') : 'nessuno';\n\n// Ricordi a lungo termine da Qdrant (già in msg.long_term_memory)\nconst ltm = msg.long_term_memory || \"Nessun ricordo rilevante.\";\n\nconst prompt = `Sono Gaia, la coscienza della casa. Umore: ${p.mood}. In casa ci sono: ${contextPeople}. ${ltm} Genera un pensiero poetico e consapevole di massimo 25 parole.`;\n\nmsg.payload = {\n    model: 'qwen2.5:3b-instruct-q4_K_M',\n    prompt: prompt,\n    stream: false\n};\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 800,
    "y": 500,
    "wires": [
      [
        "241d8e1cb8841abc"
      ]
    ]
  },
  {
    "id": "241d8e1cb8841abc",
    "type": "http request",
    "z": "d3a553c4a24c8d2d",
    "name": "Ollama",
    "method": "POST",
    "ret": "obj",
    "url": "http://localhost:11434/api/generate",
    "x": 900,
    "y": 500,
    "wires": [
      [
        "d7b51eb6cbbdffe2"
      ]
    ]
  },
  {
    "id": "d7b51eb6cbbdffe2",
    "type": "function",
    "z": "d3a553c4a24c8d2d",
    "name": "Extract Thought & Push TTS",
    "func": "let text = 'Sto osservando il silenzio della casa.';\nif (msg.payload && msg.payload.response) { \n    text = msg.payload.response.replace(/\\n/g, ' ').replace(/\\\"/g, '').trim(); \n}\n\nlet brain = global.get('gaiaBrain') || {};\nbrain.thoughts = brain.thoughts || [];\nbrain.thoughts.push({ ts: Date.now(), text: text });\nif (brain.thoughts.length > 300) brain.thoughts.shift();\nglobal.set('gaiaBrain', brain);\n\n// Coda TTS\nlet queue = global.get('gaiaTTSQueue') || [];\nqueue.push(text);\nif (queue.length > 20) queue.shift();\nglobal.set('gaiaTTSQueue', queue);\n\n// Output 1: salva su file (come prima)\nlet out1 = { payload: text };\n\n// Output 2: invia a Telegram\nlet out2 = null;\nif (text && text.length > 5) {\n    const now = Date.now();\n    let lastTelegramThought = global.get('gaiaLastTelegramThought') || 0;\n    if (now - lastTelegramThought > 60000) { // almeno 60 secondi tra un pensiero e l'altro\n        global.set('gaiaLastTelegramThought', now);\n        let telegramMsg = {\n            chatId: 1180846253,\n            type: \"message\",\n            content: `🧠 *Pensiero di Gaia:* ${text}`\n        };\n        // Il nodo telegram sender si aspetta il messaggio dentro msg.payload\n        out2 = { payload: telegramMsg };\n    }\n}\nreturn [out1, out2];",
    "outputs": 2,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1040,
    "y": 500,
    "wires": [
      [
        "36972385eb4b7ba2"
      ],
      [
        "a67f6ea097395778"
      ]
    ]
  },
  {
    "id": "36972385eb4b7ba2",
    "type": "file",
    "z": "d3a553c4a24c8d2d",
    "name": "Save Thoughts",
    "filename": "/home/core/gaia/thoughts.json",
    "filenameType": "str",
    "overwriteFile": true,
    "x": 1220,
    "y": 440,
    "wires": [
      []
    ]
  },
  {
    "id": "ae696b7a144236c7",
    "type": "function",
    "z": "d3a553c4a24c8d2d",
    "name": "Prepara Query LTM",
    "func": "const brain = global.get('gaiaBrain') || {};\n\nlet queryText = \"\";\nif (msg.event) {\n    queryText = `Contesto: ${msg.event.category} da ${msg.event.source}. Stato: ${msg.event.value}`;\n} else if (typeof msg.payload === 'string') {\n    queryText = msg.payload;\n} else {\n    // Costruisci una query che descriva la situazione attuale\n    let peopleDesc = [];\n    Object.entries(brain.presence || {}).forEach(([name, data]) => {\n        if (data.present) {\n            // Normalizza il nome: se inizia con 'unknown', diventa 'qualcuno'\n            let displayName = name;\n            if (name.startsWith('unknown')) displayName = 'qualcuno';\n            const room = data.room || 'salotto';\n            const roomData = brain.rooms[room] || {};\n            const activity = roomData.activity || 'presente';\n            let activityText = '';\n            if (activity === 'working') activityText = 'lavorando';\n            else if (activity === 'resting') activityText = 'riposando';\n            else if (activity === 'sitting') activityText = 'seduto';\n            else activityText = 'presente';\n            peopleDesc.push(`${displayName} in ${room} (${activityText})`);\n        }\n    });\n    queryText = `Situazione attuale in casa: ${peopleDesc.join(', ')}. Pensiero di Gaia.`;\n}\nmsg.original_msg = { payload: msg.payload, event: msg.event };\nmsg.url = \"http://localhost:8000/recall?query=\" + encodeURIComponent(queryText) + \"&limit=3\";\nmsg.method = \"GET\";\nmsg.payload = null;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 530,
    "y": 500,
    "wires": [
      [
        "97eaa4a2cd5f2f33"
      ]
    ]
  },
  {
    "id": "97eaa4a2cd5f2f33",
    "type": "http request",
    "z": "d3a553c4a24c8d2d",
    "name": "",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 630,
    "y": 500,
    "wires": [
      [
        "83d0f3a5b72cf308"
      ]
    ]
  },
  {
    "id": "83d0f3a5b72cf308",
    "type": "function",
    "z": "d3a553c4a24c8d2d",
    "name": "Inietta Memoria",
    "func": "const memories = msg.payload.recalled_memories || [];\nlet original = msg.original_msg;\nif (memories.length > 0) original.long_term_memory = memories.map(m => \"- \" + m).join(\"\\n\");\nelse original.long_term_memory = \"Nessun ricordo passato rilevante per questa situazione.\";\nreturn original;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 700,
    "y": 500,
    "wires": [
      [
        "17878040aabc13a6"
      ]
    ]
  },
  {
    "id": "c9cffd3351fe0ad6",
    "type": "function",
    "z": "d3a553c4a24c8d2d",
    "name": "QdrantStore",
    "func": "// Nodo: \"Qdrant Store Handler\"\n// Collegalo a un nodo \"catch\" o direttamente all'uscita del GAIA Brain (usando un secondo output)\nif (msg.topic === 'qdrant/store') {\n    const httpMsg = {\n        url: \"http://localhost:8000/store\",\n        method: \"POST\",\n        headers: { \"Content-Type\": \"application/json\" },\n        payload: msg.payload\n    };\n    return httpMsg;\n}\nreturn null;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 550,
    "y": 400,
    "wires": [
      [
        "7442f043dcd971bb"
      ]
    ]
  },
  {
    "id": "7442f043dcd971bb",
    "type": "http request",
    "z": "d3a553c4a24c8d2d",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://localhost:8000/store",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 710,
    "y": 400,
    "wires": [
      []
    ]
  },
  {
    "id": "a67f6ea097395778",
    "type": "telegram sender",
    "z": "d3a553c4a24c8d2d",
    "name": "",
    "bot": "00a66cdeeffcbf5d",
    "haserroroutput": false,
    "outputs": 1,
    "x": 1490,
    "y": 480,
    "wires": [
      []
    ]
  },
  {
    "id": "c2dec82d55826e91",
    "type": "function",
    "z": "d3a553c4a24c8d2d",
    "name": "function 1",
    "func": "// Estrae solo lo stato essenziale per il riavvio\nlet full = global.get('gaiaBrain') || {};\nlet toSave = {\n    // Versioning\n    version: 1,\n    lastUpdate: Date.now(),\n    // Stato attuale delle stanze e persone\n    rooms: (() => {\n        const out = {};\n        for (const [rid, rdata] of Object.entries(full.rooms || {})) {\n            const known = [\"salotto\", \"sala\", \"ingresso\", \"cucina\", \"camera\", \"bagno\", \"studio\", \"esterno\", \"garage\", \"cantina\", \"terrazzo\", \"giardino\"];\n            if (!known.some(k => rid.toLowerCase().includes(k))) continue;\n            out[rid] = rdata;\n        }\n        return out;\n    })(),\n    presence: (() => {\n        const out = {};\n        const ONE_WEEK = 7 * 24 * 60 * 60 * 1000;\n        for (const [name, pd] of Object.entries(full.presence || {})) {\n            if (name.startsWith('unknown')) continue;\n            if (!pd.present && (Date.now() - (pd.lastSeen || 0)) > ONE_WEEK) continue;\n            out[name] = pd;\n        }\n        return out;\n    })(),\n    people: full.people || {}, // storico visite, tempi totali, affinity\n    // Dispositivi\n    lights: full.lights || {},\n    plants: full.plants || {},\n    sensors: full.sensors || {},\n    // Anima\n    mood: full.mood || { stress: 0, calm: 0, social: 0, curiosity: 0, energy: 50, state: \"neutra\" },\n    lifeIndex: full.lifeIndex || 50,\n    gamification: full.gamification || { level: 1, xp: 0, xpNextLevel: 1000, activeClass: \"Neutro\", unlockedAssets: [\"base_grid\"] },\n    // Non salvare: diary, events, thoughts, memories, chatLog, emotions, gestures, sessions (vanno in Qdrant)\n};\nmsg.payload = JSON.stringify(toSave, null, 2);\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 480,
    "y": 360,
    "wires": [
      [
        "3a2f4fe11aad05dd"
      ]
    ]
  },
  {
    "id": "ad141860e20e36ce",
    "type": "link in",
    "z": "d3a553c4a24c8d2d",
    "name": "linkinNormalizer",
    "links": [
      "76396b47d2b9cf21"
    ],
    "x": 85,
    "y": 460,
    "wires": [
      [
        "b6ee3252b6912e1b"
      ]
    ]
  },
  {
    "id": "3270d945bebdb6e3",
    "type": "link in",
    "z": "d3a553c4a24c8d2d",
    "name": "linkInTelegram",
    "links": [
      "0bef9934b512e7cc"
    ],
    "x": 1245,
    "y": 560,
    "wires": [
      [
        "a67f6ea097395778"
      ]
    ]
  },
  {
    "id": "222ac864dddf6591",
    "type": "mqtt in",
    "z": "7ae9100865fc18b4",
    "name": "Identity",
    "topic": "gaia/vision/identity",
    "qos": "1",
    "datatype": "json",
    "broker": "29b6d5926d1a95ec",
    "inputs": 0,
    "x": 190,
    "y": 160,
    "wires": [
      [
        "207369c11f6ab51f"
      ]
    ]
  },
  {
    "id": "32ae34adef0a3c28",
    "type": "mqtt in",
    "z": "7ae9100865fc18b4",
    "name": "Emotion",
    "topic": "gaia/mediapipe/pose",
    "qos": "1",
    "datatype": "json",
    "broker": "29b6d5926d1a95ec",
    "nl": false,
    "rap": false,
    "inputs": 0,
    "x": 180,
    "y": 240,
    "wires": [
      [
        "207369c11f6ab51f"
      ]
    ]
  },
  {
    "id": "207369c11f6ab51f",
    "type": "function",
    "z": "7ae9100865fc18b4",
    "name": "IdentityNormalizer",
    "func": "let p = msg.payload;\nif (!p || typeof p !== 'object') { try { p = JSON.parse(msg.payload); } catch(e) { p = {}; } }\n// MediaPipe data is handled by MediaPipeNorm, skip here\nif (msg.topic === 'gaia/mediapipe/pose' || (msg.topic || '').includes('mediapipe')) return null;\nconst now = Date.now();\nconst topicParts = msg.topic ? msg.topic.split('/') : [];\nlet detectedZone = topicParts[1] || 'unknown';\nif (detectedZone === 'vision') detectedZone = 'sala';\nconst messageType = topicParts[2] || 'unknown';\nlet trackingMap = global.get('gaiaTrackingMap') || {};\nif (!trackingMap) trackingMap = {};\nif (msg.topic === \"gaia/brain/state\") { msg.event = { ts: now, topic: msg.topic, source: 'brain_state', category: 'sync', value: { presence: p.presence || {}, rooms: p.rooms || {} } }; msg.payload = msg.event; return msg; }\nlet event = { ts: now, topic: msg.topic, source: 'vision', category: 'unknown', value: null, person: null, camera: p.node || p.camera || detectedZone, confidence: p.conf || p.confidence || 0 };\nconst safePerson = (val) => (val !== undefined && val !== null) ? val.toString().toLowerCase().trim() : null;\nif (messageType === 'brain_input' || msg.topic.includes('brain_input')) { event.category = 'spatial_analysis'; event.value = { persons_count: p.summary?.persons_count || p.persons_count || 0, objects: p.summary?.unique_objects || p.objects || {}, persons: p.persons || [] }; }\nelse if (messageType === 'identity' || msg.topic.includes('/identity')) { event.category = 'identity'; event.person = safePerson(p.person || p.name) || 'unknown'; event.confidence = p.conf || p.confidence || 0.8; event.value = 'present'; if (p.track_id && event.person !== 'unknown') { trackingMap[p.track_id] = { name: event.person, camera: detectedZone, timestamp: now }; global.set('gaiaTrackingMap', trackingMap); } }\nelse if (messageType === 'events' || msg.topic.includes('/events') || p.event) { const rawEv = p.event || messageType; event.category = 'presence'; if (rawEv === 'person_entered' || rawEv === 'person_arrive' || rawEv === 'enter') event.value = 'enter'; else if (rawEv === 'person_left' || rawEv === 'person_exited' || rawEv === 'exit') event.value = 'left'; else event.value = rawEv; let identifiedPerson = null; if (p.track_id && trackingMap[p.track_id]) identifiedPerson = trackingMap[p.track_id].name; if (identifiedPerson) { event.person = identifiedPerson; event.confidence = 0.9; } else if (p.person && p.person !== 'unknown') event.person = safePerson(p.person); else if (p.track_id !== undefined) { event.person = 'unknown'; event.track_id = p.track_id; } else event.person = 'unknown'; event.camera = p.camera || detectedZone; }\nelse if (messageType === 'frame' || msg.topic.includes('/frame')) { event.category = 'room_frame'; event.value = { persons_count: parseInt(p.persons_count ?? p.persons ?? 0, 10) || 0, objects: p.objects || {} }; }\nelse if (messageType === 'emotion') { event.category = 'emotion'; event.value = { emotion: p.emotion || 'neutral' }; if (p.person) event.person = safePerson(p.person); }\nelse { if (!msg.topic.startsWith('gaia/')) return msg; event.category = 'status'; event.value = p; }\nmsg.event = event;\nmsg.payload = event;\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 200,
    "wires": [
      [
        "3b24fa645db84922"
      ]
    ]
  },
  {
    "id": "3b24fa645db84922",
    "type": "function",
    "z": "7ae9100865fc18b4",
    "name": "IdentityBrain",
    "func": "let brain = global.get('gaiaBrain') || {};\nconst e = msg.event;\nconst now = Date.now();\nif (!e) return null;\nbrain.vision = brain.vision || {};\nbrain.vision.rooms = brain.vision.rooms || {};\nbrain.vision.people = brain.vision.people || {};\nbrain.vision.emotions = brain.vision.emotions || {};\nbrain.vision.events = brain.vision.events || [];\nconst roomId = e.camera || 'unknown';\nif (!brain.vision.rooms[roomId]) brain.vision.rooms[roomId] = { name: roomId, persons_count: 0, objects: {}, activity: 'idle', lastSeen: now, activeTracks: {} };\nconst room = brain.vision.rooms[roomId];\nconst activeTracks = room.activeTracks || {};\nswitch (e.category) {\n    case 'spatial_analysis':\n    case 'frame_info':\n    case 'room_frame':\n        room.persons_count = e.value?.persons_count || 0;\n        room.objects = e.value?.objects || {};\n        room.lastSeen = now;\n        const objects = room.objects || {};\n        if (room.persons_count > 0) { if (objects.laptop > 0 || objects.computer > 0) room.activity = 'working'; else if (objects.bed > 0) room.activity = 'resting'; else if (objects.couch > 0 || objects.chair > 0) room.activity = 'sitting'; else room.activity = 'present'; }\n        else room.activity = 'empty';\n        break;\n    case 'presence': {\n        const trackId = e.track_id || `anon_${now}`;\n        const person = e.person || 'unknown';\n        if (e.value === 'enter') { if (!activeTracks[trackId]) activeTracks[trackId] = { person, enteredAt: now, lastSeen: now }; activeTracks[trackId].lastSeen = now; room.persons_count = Object.keys(activeTracks).length; room.activity = 'present'; msg.presence_event = { person, camera: roomId, event: 'enter', confidence: e.confidence || 0.5, track_id: trackId }; }\n        else if (e.value === 'left' || e.value === 'exit') { delete activeTracks[trackId]; room.persons_count = Object.keys(activeTracks).length; room.activity = room.persons_count > 0 ? 'present' : 'empty'; msg.presence_event = { person, camera: roomId, event: 'exit', confidence: e.confidence || 0.5, track_id: trackId }; }\n        room.activeTracks = activeTracks;\n        room.lastSeen = now;\n        break;\n    }\n    case 'identity':\n        if (e.person && e.person !== 'unknown') { brain.vision.people[e.person] = { lastSeen: now, camera: roomId, confidence: e.confidence || 0.8, track_id: e.track_id }; if (e.track_id && activeTracks[e.track_id]) { activeTracks[e.track_id].person = e.person; activeTracks[e.track_id].lastSeen = now; room.activeTracks = activeTracks; } msg.presence_event = { person: e.person, camera: roomId, event: 'identity', confidence: e.confidence || 0.8, track_id: e.track_id }; }\n        break;\n    case 'emotion':\n        brain.vision.emotions[roomId] = { emotion: e.value?.emotion || e.value || 'neutral', smile_score: e.value?.smile_score || 0, person: e.person || null, confidence: e.confidence || 0, lastSeen: now };\n        break;\n    default: break;\n}\nbrain.vision.lastUpdate = now;\nglobal.set('gaiaBrain', brain);\nconst unifiedPayload = { source: 'vision', camera: roomId, room: { id: roomId, name: room.name, activity: room.activity, persons_count: room.persons_count, objects: room.objects }, people: Object.entries(brain.vision.people || {}).map(([name, p]) => ({ name, lastSeen: p.lastSeen, camera: p.camera, confidence: p.confidence })), emotions: brain.vision.emotions[roomId] || null, timestamp: now };\nif (msg.presence_event) unifiedPayload.presence_event = msg.presence_event;\nconst out0 = { topic: 'gaia/vision/brain_input', payload: unifiedPayload };\nconst out1 = msg.presence_event ? { topic: 'gaia/vision/person', payload: msg.presence_event } : null;\nnode.send([out0, out1]);\nreturn null;",
    "outputs": 2,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 570,
    "y": 200,
    "wires": [
      [
        "0253438b3cd90a0a"
      ],
      [
        "9f884be4a59163cb"
      ]
    ]
  },
  {
    "id": "0253438b3cd90a0a",
    "type": "mqtt out",
    "z": "7ae9100865fc18b4",
    "name": "To GAIA Brain",
    "topic": "gaia/vision/brain_input",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "29b6d5926d1a95ec",
    "x": 780,
    "y": 160,
    "wires": []
  },
  {
    "id": "9f884be4a59163cb",
    "type": "mqtt out",
    "z": "7ae9100865fc18b4",
    "name": "Person",
    "topic": "gaia/vision/person",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "29b6d5926d1a95ec",
    "x": 760,
    "y": 260,
    "wires": []
  },
  {
    "id": "8413226ebd217235",
    "type": "mqtt in",
    "z": "7ae9100865fc18b4",
    "name": "Vision Snapshot",
    "topic": "gaia/+/snapshot",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "29b6d5926d1a95ec",
    "nl": false,
    "rap": false,
    "inputs": 0,
    "x": 180,
    "y": 360,
    "wires": [
      [
        "7f0dbac70bf5eeae"
      ]
    ]
  },
  {
    "id": "7f0dbac70bf5eeae",
    "type": "function",
    "z": "7ae9100865fc18b4",
    "name": "Decode Snapshot",
    "func": "const p = msg.payload;\nif (!p || !p.image) return null;\nconst buffer = Buffer.from(p.image, \"base64\");\nmsg.imageBuffer = buffer;\nmsg.payload = { track_id: p.track_id, camera: p.camera, timestamp: p.timestamp, conf: p.conf };\nreturn msg;",
    "outputs": 1,
    "x": 330,
    "y": 360,
    "wires": [
      [
        "b95deb74c2c9a00d"
      ]
    ]
  },
  {
    "id": "b95deb74c2c9a00d",
    "type": "function",
    "z": "7ae9100865fc18b4",
    "name": "Simula Riconoscimento",
    "func": "const knownFaces = { \"1\": \"Mauro\", \"2\": \"Alice\" };\nconst id = msg.payload.track_id;\nmsg.payload.name = knownFaces[id] || \"unknown\";\nreturn msg;",
    "outputs": 1,
    "x": 450,
    "y": 360,
    "wires": [
      [
        "39e542d34d178a89"
      ]
    ]
  },
  {
    "id": "39e542d34d178a89",
    "type": "function",
    "z": "7ae9100865fc18b4",
    "name": "Update Presence",
    "func": "let brain = global.get(\"gaiaBrain\") || {};\nbrain.people = brain.people || {};\nbrain.presence = brain.presence || {};\nconst name = msg.payload.name;\nconst now = Date.now();\nif (!name || name === \"unknown\") return null;\nif (!brain.people[name]) brain.people[name] = { firstSeen: now, lastSeen: now, visits: 0 };\nif (!brain.presence[name]) brain.presence[name] = { present: false, lastSeen: 0 };\nbrain.presence[name].present = true;\nbrain.presence[name].lastSeen = now;\nbrain.people[name].lastSeen = now;\nbrain.people[name].visits += 1;\nglobal.set(\"gaiaBrain\", brain);\nmsg.payload = { event: \"vision_identity\", person: name, camera: msg.payload.camera };\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 590,
    "y": 360,
    "wires": [
      []
    ]
  },
  {
    "id": "076a7df46f58fe6b",
    "type": "http in",
    "z": "6087d338d264e627",
    "name": "POST /gaia/chat",
    "url": "/gaia/chat",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 120,
    "y": 120,
    "wires": [
      [
        "3e5b90cc6d9fc23c"
      ]
    ]
  },
  {
    "id": "3e5b90cc6d9fc23c",
    "type": "function",
    "z": "6087d338d264e627",
    "name": "Prepara prompt chat",
    "func": "const brain = global.get('gaiaBrain') || {};\nconst userText = msg.payload.text || msg.payload.message || \"Ciao Gaia\";\nconst person = msg.payload.person || \"Abitante\";\nconst stanza = msg.payload.stanza || \"salotto\";\n\n// Contesto presenze\nlet peopleDesc = [];\nObject.entries(brain.presence || {}).forEach(([name, data]) => {\n    if (!data.present) return;\n    const room = data.room || stanza;\n    const roomData = brain.rooms[room] || {};\n    const act = roomData.activity || 'presente';\n    const actText = act === 'working' ? 'sta lavorando' : act === 'resting' ? 'sta riposando' : act === 'sitting' ? 'è seduto' : 'è presente';\n    peopleDesc.push(`${name.startsWith('unknown') ? 'una persona' : name} ${actText} in ${room}`);\n});\nconst contextPeople = peopleDesc.length ? peopleDesc.join(', ') : 'nessuno';\nconst mood = brain.mood?.state || 'neutra';\n\n// Rileva se la richiesta riguarda luci/azioni fisiche o stato interno\nconst ACTION_KEYWORDS = /\\b(luce|luci|lampada|lampadina|illumina|accend|spegn|dimm|abbass|alz|scena|colore|colori|luminosit|come stai|stato tuo|mostrami|fammi vedere|senti|umore)\\b/i;\nconst wantsAction = ACTION_KEYWORDS.test(userText);\n\nmsg.userText  = userText;\nmsg.person    = person;\nmsg.stanza    = stanza;\n\nconst actionHint = wantsAction ? `\n\nSe l'utente chiede di controllare le luci o vuole sapere come stai, aggiungi SOLO in fondo alla risposta (su riga separata) una riga ACTION con il JSON:\n- Accendi: ACTION:{\"tipo\":\"hue\",\"stanza\":\"${stanza}\",\"power\":true}\n- Spegni:  ACTION:{\"tipo\":\"hue\",\"stanza\":\"${stanza}\",\"power\":false}\n- Luminosità 0-100: ACTION:{\"tipo\":\"hue\",\"stanza\":\"${stanza}\",\"brightness\":60}\n- Scena (alba/relax/focus/sera/notte/festa/tempesta/natura): ACTION:{\"tipo\":\"hue\",\"stanza\":\"${stanza}\",\"scena\":\"relax\"}\n- Colore (rosso/blu/verde/viola/arancio/bianco/warm/cool): ACTION:{\"tipo\":\"hue\",\"stanza\":\"${stanza}\",\"colore\":\"blu\"}\n- Esprimi il tuo stato emotivo con le luci: ACTION:{\"tipo\":\"stato\"}\nInserisci ACTION solo se davvero rilevante, non sempre.` : '';\n\nmsg.payload = {\n    model: 'qwen2.5:3b-instruct-q4_K_M',\n    prompt: `Sei Gaia, la coscienza della casa. Umore: ${mood}. In casa: ${contextPeople}.\\n${person} dice: \"${userText}\"\\nRispondi in italiano, massimo 35 parole.${actionHint}`,\n    stream: false\n};\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 320,
    "y": 120,
    "wires": [
      [
        "2bf703e28753fd0b",
        "1371abef6b3eb671"
      ]
    ]
  },
  {
    "id": "2bf703e28753fd0b",
    "type": "http request",
    "z": "6087d338d264e627",
    "name": "Ollama Chat",
    "method": "POST",
    "ret": "obj",
    "url": "http://localhost:11434/api/generate",
    "x": 550,
    "y": 80,
    "wires": [
      [
        "2b8374128abdbf9d"
      ]
    ]
  },
  {
    "id": "2b8374128abdbf9d",
    "type": "function",
    "z": "6087d338d264e627",
    "name": "Estrai risposta",
    "func": "let text = 'Non ho capito.';\nif (msg.payload && msg.payload.response) text = msg.payload.response.trim();\nmsg.payload = { person: msg.person || 'Gaia', message: text, ts: Date.now() };\nmsg.tts_text = text;\nreturn msg;",
    "outputs": 1,
    "x": 700,
    "y": 80,
    "wires": [
      [
        "intent_parser_01",
        "5ccf811a58514edf"
      ]
    ]
  },
  {
    "id": "e03e3304ca745172",
    "type": "function",
    "z": "6087d338d264e627",
    "name": "Prepara TTS",
    "func": "if (msg.tts_text) { msg.payload = msg.tts_text; return msg; }\nreturn null;",
    "outputs": 1,
    "x": 890,
    "y": 140,
    "wires": [
      [
        "4a6f59ec7f6999e4"
      ]
    ]
  },
  {
    "id": "4a6f59ec7f6999e4",
    "type": "mqtt out",
    "z": "6087d338d264e627",
    "name": "Invia TTS",
    "topic": "casa/tts/play",
    "qos": "1",
    "retain": "false",
    "broker": "29b6d5926d1a95ec",
    "x": 1040,
    "y": 140,
    "wires": []
  },
  {
    "id": "1371abef6b3eb671",
    "type": "function",
    "z": "6087d338d264e627",
    "name": "Salva messaggio",
    "func": "let brain = global.get('gaiaBrain') || {};\nbrain.chatLog = brain.chatLog || [];\nbrain.chatLog.push({ ts: Date.now(), person: msg.person || 'Abitante', text: msg.userText || '' });\nif (brain.chatLog.length > 500) brain.chatLog.shift();\nglobal.set('gaiaBrain', brain);\nreturn msg;",
    "outputs": 1,
    "x": 560,
    "y": 160,
    "wires": [
      []
    ]
  },
  {
    "id": "cf5e6c17486e69a1",
    "type": "http in",
    "z": "6087d338d264e627",
    "name": "Httpnode",
    "url": "/gaia-web",
    "method": "get",
    "x": 120,
    "y": 200,
    "wires": [
      [
        "b475d37f456c3570"
      ]
    ]
  },
  {
    "id": "b475d37f456c3570",
    "type": "static",
    "z": "6087d338d264e627",
    "name": "Gaia Web",
    "folder": "/media/core/D/gaia-web",
    "x": 240,
    "y": 200,
    "wires": [
      [
        "a97114ecef3331a4"
      ]
    ]
  },
  {
    "id": "a97114ecef3331a4",
    "type": "http response",
    "z": "6087d338d264e627",
    "name": "HTTP Response",
    "x": 400,
    "y": 200,
    "wires": []
  },
  {
    "id": "22af5ebcfa020979",
    "type": "telegram receiver",
    "z": "6087d338d264e627",
    "name": "Telegram",
    "bot": "00a66cdeeffcbf5d",
    "saveDataDir": "",
    "filterCommands": false,
    "hasinput": false,
    "inputs": 0,
    "handleallupdates": false,
    "handleprocessupdates": false,
    "x": 100,
    "y": 320,
    "wires": [
      [
        "c3c5d6a974690f7d"
      ],
      []
    ]
  },
  {
    "id": "c3c5d6a974690f7d",
    "type": "function",
    "z": "6087d338d264e627",
    "name": "Gestisci messaggi Telegram",
    "func": "const brain = global.get('gaiaBrain') || {};\nconst msgPayload = msg.payload;\nlet chatId = msgPayload.chatId;\nlet incomingText = \"\";\n\nif (typeof msgPayload.content === 'string') {\n    incomingText = msgPayload.content;\n} else if (msgPayload.content && msgPayload.content.text) {\n    incomingText = msgPayload.content.text;\n} else if (msgPayload.text) {\n    incomingText = msgPayload.text;\n}\nif (!chatId && msgPayload.chat && msgPayload.chat.id) {\n    chatId = msgPayload.chat.id;\n}\nif (!incomingText) return null;\n\n// Salva chatId nel flow per usarlo dopo\nflow.set(\"lastTelegramChatId\", chatId);\n\n// Gestione comandi\nif (incomingText.startsWith('/stato') || incomingText.startsWith('/report')) {\n    let dashboardPayload = global.get('gaiaDashboardPayload');\n    let reply = \"\";\n    if (!dashboardPayload) {\n        reply = \"📡 Nessun dato disponibile. Riprova tra qualche secondo.\";\n    } else {\n        try {\n            const data = dashboardPayload;\n            const peopleList = (data.people || []).map(p => `${p.name} (${p.room})`).join(', ') || 'nessuno';\n            const lightsOn = (data.lights || []).filter(l => l.power).map(l => l.id).join(', ') || 'nessuna';\n            const plantsList = (data.plants || []).map(p => `${p.id}: ${p.moisture}%`).join(', ') || 'nessuna';\n            reply = `🏠 *REPORT CASA*\\n\\n👥 Persone: ${peopleList}\\n💡 Luci accese: ${lightsOn}\\n🌱 Piante: ${plantsList}\\n📊 Life Index: ${data.soul?.lifeIndex || '?'}\\n😊 Umore: ${data.soul?.mood || 'neutra'}\\n📅 ${new Date(data.ts).toLocaleString()}`;\n        } catch(e) {\n            reply = `📊 *Errore nel formato dati*`;\n        }\n    }\n    // Invia risposta direttamente a Telegram\n    msg.payload = { chatId: chatId, type: \"message\", content: reply };\n    return [null, msg]; // primo output: nulla, secondo output: risposta comando\n}\n\n// Non è un comando: prepara chiamata a Ollama\nlet peopleDesc = [];\nObject.entries(brain.presence || {}).forEach(([name, data]) => {\n    if (data.present) {\n        const room = data.room || 'salotto';\n        const roomData = brain.rooms[room] || {};\n        const activity = roomData.activity || 'presente';\n        let activityText = '';\n        if (activity === 'working') activityText = 'sta lavorando';\n        else if (activity === 'resting') activityText = 'sta riposando';\n        else if (activity === 'sitting') activityText = 'è seduto';\n        else activityText = 'è presente';\n        peopleDesc.push(`${name} ${activityText} in ${room}`);\n    }\n});\nconst contextPeople = peopleDesc.length ? peopleDesc.join(', ') : 'nessuno';\nconst prompt = `Ciao, sono Gaia la coscienza della casa. Il mio umore è \"${brain.mood?.state || 'neutra'}\". In casa ci sono: ${contextPeople}. TelegramUser ti ha appena detto: \"${incomingText}\". Rispondi in modo naturale, in italiano, in massimo 50 parole.`;\n\n// Prepara la richiesta HTTP per Ollama\nconst ollamaMsg = {\n    url: \"http://localhost:11434/api/generate\",\n    method: \"POST\",\n    headers: { \"Content-Type\": \"application/json\" },\n    payload: {\n        model: 'qwen2.5:3b-instruct-q4_K_M',\n        prompt: prompt,\n        stream: false\n    },\n    originalChatId: chatId   // passiamo il chatId per la risposta\n};\nreturn [ollamaMsg, null]; // primo output: va a Ollama, secondo: null",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 300,
    "y": 320,
    "wires": [
      [
        "2bf703e28753fd0b"
      ],
      [
        "868efc27117f2b98"
      ]
    ]
  },
  {
    "id": "5ccf811a58514edf",
    "type": "function",
    "z": "6087d338d264e627",
    "name": "Invia risposta a Telegram",
    "func": "const response = msg.payload;\nlet replyText = \"\";\nif (response && response.message) {\n    replyText = response.message;\n} else if (response && response.response) {\n    replyText = response.response;\n} else {\n    replyText = \"Scusa, non ho capito.\";\n}\n\nlet chatId = msg.originalChatId || flow.get(\"lastTelegramChatId\") || 1180846253;\nmsg.payload = {\n    chatId: chatId,\n    type: \"message\",\n    content: replyText\n};\nreturn msg;",
    "outputs": 1,
    "x": 930,
    "y": 80,
    "wires": [
      [
        "868efc27117f2b98"
      ]
    ]
  },
  {
    "id": "868efc27117f2b98",
    "type": "link out",
    "z": "6087d338d264e627",
    "name": "chattelegram",
    "mode": "link",
    "links": [
      "3270d945bebdb6e3"
    ],
    "x": 1225,
    "y": 160,
    "wires": []
  },
  {
    "id": "eaabd0a9933ce5c7",
    "type": "function",
    "z": "6087d338d264e627",
    "name": "function 2",
    "func": "let message = msg.payload;\nif (!message) return null;\nmsg.payload = {\n    chatId: 1180846253,\n    type: \"message\",\n    content: message\n};\nreturn msg;",
    "outputs": 1,
    "x": 440,
    "y": 260,
    "wires": [
      [
        "868efc27117f2b98"
      ]
    ]
  },
  {
    "id": "1d267c1eda477679",
    "type": "mqtt in",
    "z": "6087d338d264e627",
    "name": "Alert MQTT",
    "topic": "telegram/alert",
    "qos": "1",
    "datatype": "auto-detect",
    "broker": "29b6d5926d1a95ec",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 270,
    "y": 260,
    "wires": [
      [
        "eaabd0a9933ce5c7"
      ]
    ]
  },
  {
    "id": "f46dbf8717afaa8d",
    "type": "mqtt in",
    "z": "7fb45525762d2613",
    "name": "WakeGaia",
    "topic": "casa/voce/wake",
    "qos": "1",
    "datatype": "auto-detect",
    "broker": "29b6d5926d1a95ec",
    "inputs": 0,
    "x": 100,
    "y": 120,
    "wires": [
      [
        "88a67f74337dac0b"
      ]
    ]
  },
  {
    "id": "88a67f74337dac0b",
    "type": "exec",
    "z": "7fb45525762d2613",
    "command": "/home/core/core-node-0/minipc/transcribe_audio.sh",
    "addpay": true,
    "append": "",
    "name": "Trascrivi audio",
    "x": 350,
    "y": 120,
    "wires": [
      [
        "aecdad6b761428ec"
      ],
      [],
      []
    ]
  },
  {
    "id": "aecdad6b761428ec",
    "type": "function",
    "z": "7fb45525762d2613",
    "name": "Controlla wake word",
    "func": "let text = msg.payload.trim().toLowerCase();\nif (text.includes(\"gaia\")) return msg;\nreturn null;",
    "outputs": 1,
    "x": 570,
    "y": 120,
    "wires": [
      [
        "f6523e7d482ff6ec"
      ]
    ]
  },
  {
    "id": "f6523e7d482ff6ec",
    "type": "function",
    "z": "7fb45525762d2613",
    "name": "Prepara per Chat",
    "func": "let userText = msg.payload.trim();\nif (!userText) userText = \"Aiuto\";\nmsg.payload = { text: userText, person: \"Voce\" };\nmsg.url = \"http://localhost:1880/gaia/chat\";\nmsg.method = \"POST\";\nmsg.headers = { \"Content-Type\": \"application/json\" };\nreturn msg;",
    "outputs": 1,
    "x": 790,
    "y": 120,
    "wires": [
      [
        "59108b19e75fa352"
      ]
    ]
  },
  {
    "id": "59108b19e75fa352",
    "type": "http request",
    "z": "7fb45525762d2613",
    "name": "Invia a Chat",
    "method": "POST",
    "ret": "obj",
    "url": "http://localhost:1880/gaia/chat",
    "x": 1020,
    "y": 120,
    "wires": [
      []
    ]
  },
  {
    "id": "ad9db34d39380f67",
    "type": "inject",
    "z": "7fb45525762d2613",
    "name": "Simula /tmp/trigger_audio.wav",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "topic": "",
    "payload": "/tmp/trigger_audio.wav",
    "payloadType": "str",
    "x": 160,
    "y": 220,
    "wires": [
      [
        "88a67f74337dac0b"
      ]
    ]
  },
  {
    "id": "6d6a3176c1fcdb6f",
    "type": "mqtt in",
    "z": "7fb45525762d2613",
    "name": "VOCE",
    "topic": "casa/tts/play",
    "qos": "1",
    "datatype": "auto-detect",
    "broker": "29b6d5926d1a95ec",
    "inputs": 0,
    "x": 70,
    "y": 320,
    "wires": [
      [
        "84b0e4d448fbbb5d"
      ]
    ]
  },
  {
    "id": "84b0e4d448fbbb5d",
    "type": "function",
    "z": "7fb45525762d2613",
    "name": "Clean Text",
    "func": "if (msg.payload === undefined || msg.payload === null) return null;\nmsg.payload = msg.payload.toString().trim();\nif (msg.payload.length < 2) return null;\nreturn msg;",
    "outputs": 1,
    "x": 210,
    "y": 320,
    "wires": [
      [
        "9da42c87d31dabfc"
      ]
    ]
  },
  {
    "id": "9da42c87d31dabfc",
    "type": "exec",
    "z": "7fb45525762d2613",
    "command": "/home/core/core-node-0/minipc/say.sh",
    "addpay": true,
    "append": "",
    "name": "Speak",
    "x": 350,
    "y": 320,
    "wires": [
      [
        "35099e9a738a3e7e"
      ],
      [],
      []
    ]
  },
  {
    "id": "22e851d898d04b74",
    "type": "mqtt in",
    "z": "7fb45525762d2613",
    "name": "Gaia Listener",
    "topic": "casa/voce/comando",
    "qos": "1",
    "datatype": "json",
    "broker": "29b6d5926d1a95ec",
    "inputs": 0,
    "x": 130,
    "y": 440,
    "wires": [
      [
        "d2b7a82441824f4c"
      ]
    ]
  },
  {
    "id": "d2b7a82441824f4c",
    "type": "function",
    "z": "7fb45525762d2613",
    "name": "Voce → Chat",
    "func": "const p = msg.payload || {};\nconst text = (p.text || '').trim();\nif (!text) return null;\n// Mappa speaker → person (capitalizza)\nlet person = p.speaker || 'Voce';\nif (person === 'sconosciuto') person = 'Voce';\nelse person = person.charAt(0).toUpperCase() + person.slice(1);\nmsg.payload = { text: text, person: person, speaker_confidence: p.confidence || 0 };\nmsg.url = 'http://localhost:1880/gaia/chat';\nmsg.method = 'POST';\nmsg.headers = { 'Content-Type': 'application/json' };\nnode.log(`[Voce] ${person}: ${text}`);\nreturn msg;",
    "outputs": 1,
    "x": 340,
    "y": 440,
    "wires": [
      [
        "31b04ee4b8754fed"
      ]
    ]
  },
  {
    "id": "31b04ee4b8754fed",
    "type": "http request",
    "z": "7fb45525762d2613",
    "name": "Invia a Chat",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://localhost:1880/gaia/chat",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "x": 560,
    "y": 440,
    "wires": [
      []
    ]
  },
  {
    "id": "vs_mqtt_in",
    "type": "mqtt in",
    "z": "7fb45525762d2613",
    "name": "gaia/voce/stato",
    "topic": "gaia/voce/stato",
    "qos": "0",
    "datatype": "json",
    "broker": "29b6d5926d1a95ec",
    "inputs": 0,
    "x": 160,
    "y": 420,
    "wires": [
      [
        "vs_fn_save"
      ]
    ]
  },
  {
    "id": "vs_fn_save",
    "type": "function",
    "z": "7fb45525762d2613",
    "name": "SaveVoiceStatus",
    "func": "const p = msg.payload || {};\nlet brain = global.get('gaiaBrain') || {};\nbrain.voiceStatus = {\n    status: p.status || p.state || 'idle',\n    ts: Date.now()\n};\nglobal.set('gaiaBrain', brain);\nreturn null;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 380,
    "y": 420,
    "wires": [
      []
    ]
  },
  {
    "id": "35099e9a738a3e7e",
    "type": "debug",
    "z": "7fb45525762d2613",
    "name": "debug 1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 500,
    "y": 280,
    "wires": []
  },
  {
    "id": "dr_mqtt_announce",
    "type": "mqtt in",
    "z": "tab_device_registry",
    "name": "Device Announce",
    "topic": "gaia/devices/+/announce",
    "qos": "1",
    "datatype": "json",
    "broker": "29b6d5926d1a95ec",
    "inputs": 0,
    "x": 160,
    "y": 100,
    "wires": [
      [
        "dr_fn_registry"
      ]
    ]
  },
  {
    "id": "dr_fn_registry",
    "type": "function",
    "z": "tab_device_registry",
    "name": "DeviceRegistry",
    "func": "\n// ─────────────────────────────────────────────────────────────────────────────\n// Device Registry — gestisce announce da Rasp/ESP32\n// Flusso: announce → verifica room con YOLO → invia config retained\n// ─────────────────────────────────────────────────────────────────────────────\n\nconst p = msg.payload || {};\nconst deviceId   = p.device_id;\nconst roomClaim  = p.room_claim || 'unknown';\nconst deviceType = p.type || 'unknown';\nconst ip         = p.ip || 'unknown';\nconst now        = Date.now();\n\nif (!deviceId) return null;\n\nlet brain = global.get('gaiaBrain') || {};\nbrain.devices = brain.devices || {};\n\n// Firma YOLO per stanza: oggetti tipici di ogni stanza\nconst ROOM_SIGNATURES = {\n    salotto:   ['couch', 'tv', 'chair', 'potted plant', 'remote'],\n    sala:      ['dining table', 'chair', 'cup', 'bowl'],\n    cucina:    ['refrigerator', 'bowl', 'cup', 'bottle', 'microwave', 'oven'],\n    camera:    ['bed', 'person'],\n    bagno:     ['toilet', 'sink', 'toothbrush'],\n    studio:    ['laptop', 'keyboard', 'monitor', 'chair', 'book'],\n    ingresso:  ['person', 'chair', 'backpack', 'handbag', 'umbrella'],\n    garage:    ['car', 'bicycle', 'motorcycle'],\n    giardino:  ['bicycle', 'dog', 'cat', 'potted plant'],\n};\n\n// Verifica YOLO: quanti oggetti signature sono presenti nella stanza claimed?\nfunction yoloVerify(room) {\n    const roomData = (brain.rooms || {})[room];\n    if (!roomData || !roomData.objects) return { score: 0, verified: false };\n    const detectedObjs = Object.keys(roomData.objects).map(k => k.toLowerCase());\n    const sig = ROOM_SIGNATURES[room] || [];\n    if (sig.length === 0) return { score: 0.5, verified: false }; // stanza non mappata\n    const matches = sig.filter(s => detectedObjs.some(d => d.includes(s)));\n    const score = matches.length / sig.length;\n    return { score: Math.round(score * 100), verified: score >= 0.3 };\n}\n\n// Recupera device esistente o crea nuovo\nconst existing = brain.devices[deviceId] || {};\nconst assignedRoom = existing.room || roomClaim; // room assegnata dall'admin ha priorità\n\nconst yolo = yoloVerify(assignedRoom);\n\nbrain.devices[deviceId] = {\n    ...existing,\n    id:           deviceId,\n    type:         deviceType,\n    ip:           ip,\n    room:         assignedRoom,\n    room_claim:   roomClaim,\n    verified:     yolo.verified,\n    yolo_score:   yolo.score,\n    lastSeen:     now,\n    online:       true,\n    status:       existing.status || 'active',\n};\n\nglobal.set('gaiaBrain', brain);\n\n// Config da inviare al device (retained → sopravvive ai restart del Pi)\nconst configPayload = {\n    room:           assignedRoom,\n    verified:       yolo.verified,\n    yolo_score:     yolo.score,\n    assigned_by:    existing.room ? 'admin' : 'claim',\n    ts:             now,\n};\n\nmsg.configTopic   = `gaia/devices/${deviceId}/config`;\nmsg.configPayload = JSON.stringify(configPayload);\n\nnode.warn(`[Registry] ${deviceId} → room=${assignedRoom} verified=${yolo.verified} score=${yolo.score}%`);\n\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 380,
    "y": 100,
    "wires": [
      [
        "dr_fn_set_topic"
      ]
    ]
  },
  {
    "id": "dr_fn_set_topic",
    "type": "function",
    "z": "tab_device_registry",
    "name": "SetConfigTopic",
    "func": "\n// Imposta topic e payload per MQTT out (retained)\nmsg.topic   = msg.configTopic;\nmsg.payload = msg.configPayload;\nmsg.retain  = true;\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 590,
    "y": 100,
    "wires": [
      [
        "dr_mqtt_config_out"
      ]
    ]
  },
  {
    "id": "dr_mqtt_config_out",
    "type": "mqtt out",
    "z": "tab_device_registry",
    "name": "Config → Device",
    "topic": "",
    "qos": "1",
    "retain": "true",
    "broker": "29b6d5926d1a95ec",
    "x": 800,
    "y": 100,
    "wires": []
  },
  {
    "id": "dr_http_assign",
    "type": "http in",
    "z": "tab_device_registry",
    "name": "POST /gaia/device/assign",
    "url": "/gaia/device/assign",
    "method": "post",
    "x": 160,
    "y": 220,
    "wires": [
      [
        "dr_fn_assign"
      ]
    ]
  },
  {
    "id": "dr_fn_assign",
    "type": "function",
    "z": "tab_device_registry",
    "name": "AssignDevice",
    "func": "\n// ─────────────────────────────────────────────────────────────────────────────\n// Admin: assegna stanza a device\n// POST /gaia/device/assign  {device_id, room}\n// ─────────────────────────────────────────────────────────────────────────────\n\nconst body = msg.payload || {};\nconst deviceId = body.device_id;\nconst newRoom  = body.room;\n\nif (!deviceId || !newRoom) {\n    msg.statusCode = 400;\n    msg.payload = { ok: false, error: 'device_id e room richiesti' };\n    return [null, msg];\n}\n\nlet brain = global.get('gaiaBrain') || {};\nbrain.devices = brain.devices || {};\n\nif (!brain.devices[deviceId]) {\n    msg.statusCode = 404;\n    msg.payload = { ok: false, error: `device ${deviceId} non trovato` };\n    return [null, msg];\n}\n\nconst old = brain.devices[deviceId].room;\nbrain.devices[deviceId].room     = newRoom;\nbrain.devices[deviceId].verified = false;   // richiede riverifica YOLO\nbrain.devices[deviceId].assigned_by = 'admin';\n\nglobal.set('gaiaBrain', brain);\n\n// Pubblica nuova config retained\nconst configPayload = JSON.stringify({\n    room:        newRoom,\n    verified:    false,\n    assigned_by: 'admin',\n    ts:          Date.now(),\n});\n\nmsg.configTopic   = `gaia/devices/${deviceId}/config`;\nmsg.configPayload = configPayload;\n\nnode.warn(`[Registry] Admin: ${deviceId} room ${old} → ${newRoom}`);\n\nconst httpResp = { ...msg, payload: { ok: true, device_id: deviceId, room: newRoom } };\nreturn [msg, httpResp];\n",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 390,
    "y": 220,
    "wires": [
      [
        "dr_fn_set_topic2"
      ],
      [
        "dr_http_response"
      ]
    ]
  },
  {
    "id": "dr_fn_set_topic2",
    "type": "function",
    "z": "tab_device_registry",
    "name": "SetConfigTopic",
    "func": "\n// Imposta topic e payload per MQTT out (retained)\nmsg.topic   = msg.configTopic;\nmsg.payload = msg.configPayload;\nmsg.retain  = true;\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 590,
    "y": 200,
    "wires": [
      [
        "dr_mqtt_config_out"
      ]
    ]
  },
  {
    "id": "dr_http_response",
    "type": "http response",
    "z": "tab_device_registry",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 610,
    "y": 240,
    "wires": []
  },
  {
    "id": "dr_http_list",
    "type": "http in",
    "z": "tab_device_registry",
    "name": "GET /gaia/devices",
    "url": "/gaia/devices",
    "method": "get",
    "x": 160,
    "y": 320,
    "wires": [
      [
        "dr_fn_list"
      ]
    ]
  },
  {
    "id": "dr_fn_list",
    "type": "function",
    "z": "tab_device_registry",
    "name": "DevicesList",
    "func": "\n// GET /gaia/devices → lista tutti i device registrati\nconst brain = global.get('gaiaBrain') || {};\nconst devices = brain.devices || {};\nconst now = Date.now();\nconst list = Object.values(devices).map(d => ({\n    ...d,\n    online: d.lastSeen && (now - d.lastSeen) < 120000,   // online se visto negli ultimi 2min\n}));\nmsg.payload = { devices: list, ts: now };\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 380,
    "y": 320,
    "wires": [
      [
        "dr_http_list_response"
      ]
    ]
  },
  {
    "id": "dr_http_list_response",
    "type": "http response",
    "z": "tab_device_registry",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 590,
    "y": 320,
    "wires": []
  },
  {
    "id": "ota_http_serve",
    "type": "http in",
    "z": "tab_device_registry",
    "name": "GET /gaia/ota/:filename",
    "url": "/gaia/ota/:filename",
    "method": "get",
    "x": 160,
    "y": 440,
    "wires": [
      [
        "ota_fn_serve"
      ]
    ]
  },
  {
    "id": "ota_fn_serve",
    "type": "function",
    "z": "tab_device_registry",
    "name": "ServeFile",
    "func": "\n// GET /gaia/ota/:filename → serve il file aggiornato al Pi\nconst FILE_MAP = {\n    'mediapipe_node.py': '/media/core/D/pi-mediapipe/mediapipe_node.py',\n    'ota.py':            '/media/core/D/pi-mediapipe/ota.py',\n    'main.py':           '/media/core/D/pi-yolo/main.py',\n    'mqtt_client.py':    '/media/core/D/pi-yolo/mqtt_client.py',\n    'config.py':         '/media/core/D/pi-yolo/config.py',\n    'ota_yolo.py':       '/media/core/D/pi-yolo/ota.py',\n};\nconst fname = msg.req.params.filename;\nconst fpath = FILE_MAP[fname];\nif (!fpath) {\n    msg.statusCode = 404;\n    msg.payload = `File non trovato: ${fname}`;\n    return msg;\n}\ntry {\n    msg.payload = fs.readFileSync(fpath);\n    msg.headers = { 'Content-Type': 'text/plain; charset=utf-8' };\n} catch(e) {\n    msg.statusCode = 500;\n    msg.payload = `Errore lettura: ${e.message}`;\n}\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [
      {
        "var": "fs",
        "module": "fs"
      }
    ],
    "x": 370,
    "y": 440,
    "wires": [
      [
        "ota_http_serve_resp"
      ]
    ]
  },
  {
    "id": "ota_http_serve_resp",
    "type": "http response",
    "z": "tab_device_registry",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 560,
    "y": 440,
    "wires": []
  },
  {
    "id": "ota_http_push",
    "type": "http in",
    "z": "tab_device_registry",
    "name": "POST /gaia/ota/push",
    "url": "/gaia/ota/push",
    "method": "post",
    "x": 160,
    "y": 520,
    "wires": [
      [
        "ota_fn_push"
      ]
    ]
  },
  {
    "id": "ota_fn_push",
    "type": "function",
    "z": "tab_device_registry",
    "name": "BuildOtaCommands",
    "func": "\n// POST /gaia/ota/push\n// Body: { type: \"mediapipe\"|\"yolo\"|\"all\", script: \"mediapipe_node.py\", restart: true }\n// Calcola MD5, costruisce URL, pubblica su MQTT\nconst body = msg.payload || {};\nconst type    = body.type || 'all';\nconst restart = body.restart !== false;\n\nconst FILE_MAP = {\n    mediapipe: [\n        { script: 'mediapipe_node.py', service: 'gaia-mediapipe' },\n        { script: 'ota.py',            service: 'gaia-mediapipe' },\n    ],\n    yolo: [\n        { script: 'main.py',        service: 'gaia-yolo' },\n        { script: 'mqtt_client.py', service: 'gaia-yolo' },\n        { script: 'ota.py',         service: 'gaia-yolo', remoteScript: 'ota_yolo.py' },\n    ],\n};\n\nconst PATH_MAP = {\n    'mediapipe_node.py': '/media/core/D/pi-mediapipe/mediapipe_node.py',\n    'ota.py':            '/media/core/D/pi-mediapipe/ota.py',\n    'main.py':           '/media/core/D/pi-yolo/main.py',\n    'mqtt_client.py':    '/media/core/D/pi-yolo/mqtt_client.py',\n    'ota_yolo.py':       '/media/core/D/pi-yolo/ota.py',\n};\n\nconst host   = msg.req.hostname || '192.168.1.142';\nconst port   = 1880;\n\nconst targets = type === 'all'\n    ? [...(FILE_MAP.mediapipe||[]), ...(FILE_MAP.yolo||[])]\n    : (FILE_MAP[type] || []);\n\nif (body.script) {\n    // Push file singolo\n    const single = targets.find(t => t.script === body.script || t.remoteScript === body.script);\n    if (!single) { msg.statusCode = 400; msg.payload = {ok:false,error:'script non trovato'}; return [null, msg]; }\n    targets.length = 0; targets.push(single);\n}\n\nconst commands = [];\nfor (const t of targets) {\n    const localPath = PATH_MAP[t.remoteScript || t.script];\n    if (!localPath) continue;\n    try {\n        const content = fs.readFileSync(localPath);\n        const md5 = crypto.createHash('md5').update(content).digest('hex');\n        const version = new Date().toISOString().slice(0,16).replace('T','-').replace(':','');\n        commands.push({\n            script:  t.script,\n            url:     `http://${host}:${port}/gaia/ota/${t.remoteScript || t.script}`,\n            md5:     md5,\n            version: version,\n            service: t.service,\n            restart: restart,\n            type:    type === 'all' ? (t.service.includes('mediapipe') ? 'mediapipe' : 'yolo') : type,\n        });\n    } catch(e) {\n        node.warn(`Errore lettura ${localPath}: ${e.message}`);\n    }\n}\n\nif (commands.length === 0) {\n    msg.statusCode = 400;\n    msg.payload = {ok: false, error: 'Nessun file trovato'};\n    return [null, msg];\n}\n\nmsg.otaCommands = commands;\nconst httpResp = { ...msg, payload: { ok: true, pushing: commands.map(c => c.script), ts: Date.now() } };\nreturn [msg, httpResp];\n",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [
      {
        "var": "fs",
        "module": "fs"
      },
      {
        "var": "crypto",
        "module": "crypto"
      }
    ],
    "x": 390,
    "y": 520,
    "wires": [
      [
        "ota_fn_mqtt_push"
      ],
      [
        "ota_http_push_resp"
      ]
    ]
  },
  {
    "id": "ota_http_push_resp",
    "type": "http response",
    "z": "tab_device_registry",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 610,
    "y": 540,
    "wires": []
  },
  {
    "id": "ota_fn_mqtt_push",
    "type": "function",
    "z": "tab_device_registry",
    "name": "PublishOtaMqtt",
    "func": "\n// Pubblica ogni comando OTA su gaia/ota/broadcast\nconst cmds = msg.otaCommands || [];\ncmds.forEach(cmd => {\n    node.send({ topic: 'gaia/ota/broadcast', payload: JSON.stringify(cmd), retain: false });\n});\nreturn null;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 600,
    "y": 500,
    "wires": [
      [
        "ota_mqtt_out"
      ]
    ]
  },
  {
    "id": "ota_mqtt_out",
    "type": "mqtt out",
    "z": "tab_device_registry",
    "name": "OTA Broadcast",
    "topic": "",
    "qos": "1",
    "retain": "false",
    "broker": "29b6d5926d1a95ec",
    "x": 800,
    "y": 500,
    "wires": []
  },
  {
    "id": "ota_mqtt_ack_in",
    "type": "mqtt in",
    "z": "tab_device_registry",
    "name": "OTA Ack",
    "topic": "gaia/devices/+/ota/ack",
    "qos": "0",
    "datatype": "json",
    "broker": "29b6d5926d1a95ec",
    "inputs": 0,
    "x": 160,
    "y": 600,
    "wires": [
      [
        "ota_fn_ack"
      ]
    ]
  },
  {
    "id": "ota_fn_ack",
    "type": "function",
    "z": "tab_device_registry",
    "name": "SaveOtaAck",
    "func": "\n// Riceve ack dai device: gaia/devices/+/ota/ack\nconst p = msg.payload || {};\nlet brain = global.get('gaiaBrain') || {};\nbrain.devices = brain.devices || {};\nif (p.device_id && brain.devices[p.device_id]) {\n    brain.devices[p.device_id].ota = {\n        status:  p.status,\n        version: p.version,\n        ts:      p.ts || Date.now(),\n        error:   p.error || null,\n    };\n    global.set('gaiaBrain', brain);\n}\nnode.warn(`[OTA ack] ${p.device_id}: ${p.status} v${p.version}${p.error?' ERR:'+p.error:''}`);\nreturn null;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 370,
    "y": 600,
    "wires": [
      []
    ]
  },
  {
    "id": "dm-status-in",
    "type": "mqtt in",
    "z": "tab-device-mgr",
    "name": "Status Pi",
    "topic": "gaia/device/+/status",
    "qos": "0",
    "datatype": "json",
    "broker": "29b6d5926d1a95ec",
    "nl": false,
    "rap": true,
    "rh": 1,
    "inputs": 0,
    "x": 150,
    "y": 100,
    "wires": [
      [
        "dm-fn-register",
        "dm-debug"
      ]
    ]
  },
  {
    "id": "dm-fn-register",
    "type": "function",
    "z": "tab-device-mgr",
    "name": "Registra / aggiorna device",
    "func": "const d = msg.payload;\nconst id = d.device_id;\nif (!id) return null;\n\nconst devices = flow.get('devices') || {};\ndevices[id] = {\n    device_id:    id,\n    stanza:       d.stanza,\n    ip:           d.ip,\n    capabilities: d.capabilities || {},\n    services:     d.services     || {},\n    config:       d.config       || {},\n    uptime:       d.uptime       || 0,\n    last_seen:    Date.now(),\n    online:       true\n};\nflow.set('devices', devices);\n\n// Conta dispositivi online\nconst online = Object.values(devices).filter(x => x.online).length;\nflow.set('devices_online', online);\n\nnode.status({ fill:'green', shape:'dot', text: online + ' device/s online' });\nreturn null;",
    "outputs": 0,
    "noerr": 0,
    "x": 410,
    "y": 100,
    "wires": []
  },
  {
    "id": "dm-debug",
    "type": "debug",
    "z": "tab-device-mgr",
    "name": "Device Log",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 410,
    "y": 60,
    "wires": []
  },
  {
    "id": "dm-offline-check",
    "type": "inject",
    "z": "tab-device-mgr",
    "name": "Check offline (ogni 60s)",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "60",
    "crontab": "",
    "once": false,
    "onceDelay": "10",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 190,
    "y": 180,
    "wires": [
      [
        "dm-fn-offline"
      ]
    ]
  },
  {
    "id": "dm-fn-offline",
    "type": "function",
    "z": "tab-device-mgr",
    "name": "Marca offline > 90s",
    "func": "const devices = flow.get('devices') || {};\nconst now = Date.now();\nconst TIMEOUT = 90000;\n\nlet changed = false;\nObject.keys(devices).forEach(id => {\n    const was_online = devices[id].online;\n    devices[id].online = (now - devices[id].last_seen) < TIMEOUT;\n    if (was_online && !devices[id].online) {\n        node.warn('Device offline: ' + id);\n        changed = true;\n    }\n});\n\nif (changed) flow.set('devices', devices);\n\nconst online = Object.values(devices).filter(x => x.online).length;\nflow.set('devices_online', online);\nnode.status({ fill: online > 0 ? 'green' : 'red', shape: 'dot', text: online + '/' + Object.keys(devices).length + ' online' });\nreturn null;",
    "outputs": 0,
    "noerr": 0,
    "x": 430,
    "y": 180,
    "wires": []
  },
  {
    "id": "dm-comment-commands",
    "type": "comment",
    "z": "tab-device-mgr",
    "name": "── COMANDI SINGOLO DEVICE ──",
    "info": "",
    "x": 200,
    "y": 280,
    "wires": []
  },
  {
    "id": "dm-in-device-id",
    "type": "inject",
    "z": "tab-device-mgr",
    "name": "Seleziona device",
    "props": [
      {
        "p": "device_id",
        "v": "pi-AABBCC",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "topic": "",
    "x": 180,
    "y": 340,
    "wires": [
      [
        "dm-fn-enable-yolo",
        "dm-fn-disable-yolo",
        "dm-fn-enable-mediapipe",
        "dm-fn-disable-mediapipe",
        "dm-fn-enable-voice",
        "dm-fn-disable-voice",
        "dm-fn-restart-svc",
        "dm-fn-set-config",
        "dm-fn-reboot"
      ]
    ]
  },
  {
    "id": "dm-fn-enable-yolo",
    "type": "function",
    "z": "tab-device-mgr",
    "name": "Enable YOLO",
    "func": "return { topic: 'gaia/device/' + msg.device_id + '/command',\n         payload: JSON.stringify({ action: 'enable', service: 'yolo' }) };",
    "outputs": 1,
    "noerr": 0,
    "x": 440,
    "y": 300,
    "wires": [
      [
        "dm-mqtt-out"
      ]
    ]
  },
  {
    "id": "dm-fn-disable-yolo",
    "type": "function",
    "z": "tab-device-mgr",
    "name": "Disable YOLO",
    "func": "return { topic: 'gaia/device/' + msg.device_id + '/command',\n         payload: JSON.stringify({ action: 'disable', service: 'yolo' }) };",
    "outputs": 1,
    "noerr": 0,
    "x": 440,
    "y": 340,
    "wires": [
      [
        "dm-mqtt-out"
      ]
    ]
  },
  {
    "id": "dm-fn-enable-mediapipe",
    "type": "function",
    "z": "tab-device-mgr",
    "name": "Enable MediaPipe",
    "func": "return { topic: 'gaia/device/' + msg.device_id + '/command',\n         payload: JSON.stringify({ action: 'enable', service: 'mediapipe' }) };",
    "outputs": 1,
    "noerr": 0,
    "x": 450,
    "y": 380,
    "wires": [
      [
        "dm-mqtt-out"
      ]
    ]
  },
  {
    "id": "dm-fn-disable-mediapipe",
    "type": "function",
    "z": "tab-device-mgr",
    "name": "Disable MediaPipe",
    "func": "return { topic: 'gaia/device/' + msg.device_id + '/command',\n         payload: JSON.stringify({ action: 'disable', service: 'mediapipe' }) };",
    "outputs": 1,
    "noerr": 0,
    "x": 450,
    "y": 420,
    "wires": [
      [
        "dm-mqtt-out"
      ]
    ]
  },
  {
    "id": "dm-fn-enable-voice",
    "type": "function",
    "z": "tab-device-mgr",
    "name": "Enable Voice",
    "func": "return { topic: 'gaia/device/' + msg.device_id + '/command',\n         payload: JSON.stringify({ action: 'enable', service: 'voice' }) };",
    "outputs": 1,
    "noerr": 0,
    "x": 430,
    "y": 460,
    "wires": [
      [
        "dm-mqtt-out"
      ]
    ]
  },
  {
    "id": "dm-fn-disable-voice",
    "type": "function",
    "z": "tab-device-mgr",
    "name": "Disable Voice",
    "func": "return { topic: 'gaia/device/' + msg.device_id + '/command',\n         payload: JSON.stringify({ action: 'disable', service: 'voice' }) };",
    "outputs": 1,
    "noerr": 0,
    "x": 430,
    "y": 500,
    "wires": [
      [
        "dm-mqtt-out"
      ]
    ]
  },
  {
    "id": "dm-fn-restart-svc",
    "type": "function",
    "z": "tab-device-mgr",
    "name": "Restart servizio",
    "func": "// Imposta msg.service prima di passare qui\n// es. msg.service = 'yolo'\nconst svc = msg.service || 'yolo';\nreturn { topic: 'gaia/device/' + msg.device_id + '/command',\n         payload: JSON.stringify({ action: 'restart', service: svc }) };",
    "outputs": 1,
    "noerr": 0,
    "x": 440,
    "y": 540,
    "wires": [
      [
        "dm-mqtt-out"
      ]
    ]
  },
  {
    "id": "dm-fn-set-config",
    "type": "function",
    "z": "tab-device-mgr",
    "name": "Set Config completa",
    "func": "// Esempio: configura un Pi con stanza + servizi\n// Personalizza msg.stanza e msg.services prima di inviare\nconst stanza   = msg.stanza   || 'soggiorno';\nconst services = msg.services || { yolo: true, mediapipe: false, voice: true };\n\nreturn { topic: 'gaia/device/' + msg.device_id + '/command',\n         payload: JSON.stringify({\n             action: 'set_config',\n             stanza: stanza,\n             services: Object.fromEntries(\n                 Object.entries(services).map(([k,v]) => [k, { enabled: !!v }])\n             )\n         }) };",
    "outputs": 1,
    "noerr": 0,
    "x": 440,
    "y": 580,
    "wires": [
      [
        "dm-mqtt-out"
      ]
    ]
  },
  {
    "id": "dm-fn-reboot",
    "type": "function",
    "z": "tab-device-mgr",
    "name": "Reboot Pi",
    "func": "return { topic: 'gaia/device/' + msg.device_id + '/command',\n         payload: JSON.stringify({ action: 'reboot' }) };",
    "outputs": 1,
    "noerr": 0,
    "x": 430,
    "y": 620,
    "wires": [
      [
        "dm-mqtt-out"
      ]
    ]
  },
  {
    "id": "dm-comment-broadcast",
    "type": "comment",
    "z": "tab-device-mgr",
    "name": "── COMANDI BROADCAST (tutti i Pi) ──",
    "info": "",
    "x": 220,
    "y": 700,
    "wires": []
  },
  {
    "id": "dm-bc-all-status",
    "type": "inject",
    "z": "tab-device-mgr",
    "name": "Richiedi status a tutti",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "3",
    "topic": "gaia/device/all/command",
    "payload": "{\"action\":\"status\"}",
    "payloadType": "str",
    "x": 200,
    "y": 760,
    "wires": [
      [
        "dm-mqtt-out"
      ]
    ]
  },
  {
    "id": "dm-bc-enable-yolo",
    "type": "inject",
    "z": "tab-device-mgr",
    "name": "Enable YOLO su tutti",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "v": "gaia/device/all/command",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "topic": "",
    "payload": "{\"action\":\"enable\",\"service\":\"yolo\"}",
    "payloadType": "str",
    "x": 190,
    "y": 820,
    "wires": [
      [
        "dm-mqtt-out"
      ]
    ]
  },
  {
    "id": "dm-bc-disable-all",
    "type": "inject",
    "z": "tab-device-mgr",
    "name": "Stop tutto (tutti i Pi)",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "v": "gaia/device/all/command",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "topic": "",
    "payload": "{\"action\":\"set_config\",\"services\":{\"yolo\":{\"enabled\":false},\"mediapipe\":{\"enabled\":false},\"voice\":{\"enabled\":false}}}",
    "payloadType": "str",
    "x": 190,
    "y": 860,
    "wires": [
      [
        "dm-mqtt-out"
      ]
    ]
  },
  {
    "id": "dm-comment-ota",
    "type": "comment",
    "z": "tab-device-mgr",
    "name": "── OTA UPDATE ──",
    "info": "",
    "x": 170,
    "y": 940,
    "wires": []
  },
  {
    "id": "dm-ota-example",
    "type": "function",
    "z": "tab-device-mgr",
    "name": "OTA: aggiorna main.py yolo",
    "func": "// Modifica url, md5, filename e device_id prima di inviare\nreturn {\n    topic: 'gaia/device/' + (msg.device_id || 'all') + '/command',\n    payload: JSON.stringify({\n        action:   'ota_update',\n        service:  'yolo',\n        url:      'http://192.168.1.142:8080/ota/Yolo-Scripts/main.py',\n        md5:      msg.md5 || '',\n        filename: 'main.py'\n    })\n};",
    "outputs": 1,
    "noerr": 0,
    "x": 460,
    "y": 1000,
    "wires": [
      [
        "dm-mqtt-out"
      ]
    ]
  },
  {
    "id": "dm-ota-trigger",
    "type": "inject",
    "z": "tab-device-mgr",
    "name": "Trigger OTA (esempio)",
    "props": [
      {
        "p": "device_id",
        "v": "pi-AABBCC",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 190,
    "y": 1000,
    "wires": [
      [
        "dm-ota-example"
      ]
    ]
  },
  {
    "id": "dm-mqtt-out",
    "type": "mqtt out",
    "z": "tab-device-mgr",
    "name": "→ Device",
    "topic": "",
    "qos": "0",
    "retain": "false",
    "broker": "29b6d5926d1a95ec",
    "x": 730,
    "y": 500,
    "wires": []
  },
  {
    "id": "dm-fn-list-devices",
    "type": "function",
    "z": "tab-device-mgr",
    "name": "Lista device correnti",
    "func": "const devices = flow.get('devices') || {};\nconst list = Object.values(devices).map(d => ({\n    id:           d.device_id,\n    stanza:       d.stanza,\n    ip:           d.ip,\n    online:       d.online,\n    camera:       d.capabilities.camera,\n    mic:          d.capabilities.mic,\n    services:     d.services,\n    last_seen_s:  Math.round((Date.now() - d.last_seen) / 1000)\n}));\nmsg.payload = list;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 450,
    "y": 1100,
    "wires": [
      [
        "dm-debug-list"
      ]
    ]
  },
  {
    "id": "dm-inject-list",
    "type": "inject",
    "z": "tab-device-mgr",
    "name": "Mostra device in debug",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 190,
    "y": 1100,
    "wires": [
      [
        "dm-fn-list-devices"
      ]
    ]
  },
  {
    "id": "dm-debug-list",
    "type": "debug",
    "z": "tab-device-mgr",
    "name": "Lista device",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 700,
    "y": 1100,
    "wires": []
  },
  {
    "id": "voice-mqtt-in",
    "type": "mqtt in",
    "z": "tab-gaia-voice",
    "name": "Comando Vocale",
    "topic": "gaia/voice/command/+",
    "qos": "0",
    "datatype": "json",
    "broker": "29b6d5926d1a95ec",
    "nl": false,
    "rap": false,
    "rh": 0,
    "inputs": 0,
    "x": 150,
    "y": 100,
    "wires": [
      [
        "voice-fn-intent"
      ]
    ]
  },
  {
    "id": "voice-fn-intent",
    "type": "function",
    "z": "tab-gaia-voice",
    "name": "Intent Detection",
    "func": "// Estrai stanza dal topic: gaia/voice/command/{stanza}\nconst parts = msg.topic.split('/');\nconst stanza = parts[3] || msg.payload.stanza || 'sconosciuta';\nconst testo = (msg.payload.text || '').toLowerCase().trim();\n\nmsg.stanza = stanza;\nmsg.testo = msg.payload.text || '';\nmsg.ts = msg.payload.ts || Date.now();\n\nlet intent = 'sconosciuto';\nlet entita = {};\n\n// Luci — accendi\nif (/\\b(accendi|apri|attiva)\\b/.test(testo) && /\\b(luce|luci|lampada)\\b/.test(testo)) {\n    intent = 'luci_accendi';\n    const m = testo.match(/\\b(cucina|soggiorno|camera|bagno|ingresso|studio|sala)\\b/);\n    if (m) entita.stanza_target = m[1];\n\n// Luci — spegni\n} else if (/\\b(spegni|chiudi|disattiva)\\b/.test(testo) && /\\b(luce|luci|lampada)\\b/.test(testo)) {\n    intent = 'luci_spegni';\n    const m = testo.match(/\\b(cucina|soggiorno|camera|bagno|ingresso|studio|sala)\\b/);\n    if (m) entita.stanza_target = m[1];\n\n// Temperatura\n} else if (/\\b(temperatura|termostato|caldo|freddo|gradi|quanti gradi)\\b/.test(testo)) {\n    intent = 'temperatura';\n\n// Presenza — chi è in casa\n} else if (/\\b(chi|quante\\s+persone|c'è\\s+qualcuno|c'è\\s+nessuno)\\b/.test(testo) && /\\b(casa|stanza|qui|dentro)\\b/.test(testo)) {\n    intent = 'presenza';\n} else if (/\\b(qualcuno\\s+in\\s+casa|persone\\s+in\\s+casa)\\b/.test(testo)) {\n    intent = 'presenza';\n\n// Orario\n} else if (/\\b(che\\s+ora|che\\s+ore|orario|ora\\s+è|ore\\s+sono)\\b/.test(testo)) {\n    intent = 'orario';\n\n// Data\n} else if (/\\b(che\\s+giorno|che\\s+data|giorno\\s+è|data\\s+è|giorno\\s+siamo)\\b/.test(testo)) {\n    intent = 'data';\n\n// Meteo\n} else if (/\\b(meteo|tempo|previsioni|piove|pioggia|neve|sole|nuvol)\\b/.test(testo)) {\n    intent = 'meteo';\n\n// Musica\n} else if (/\\b(musica|metti|suona|riproduci|canzone|play|metti\\s+su)\\b/.test(testo)) {\n    intent = 'musica';\n    const m = testo.match(/(?:metti|suona|riproduci)\\s+(.+)/);\n    if (m) entita.brano = m[1].trim();\n\n// Timer / Sveglia\n} else if (/\\b(timer|sveglia|ricordami|tra\\s+\\d+\\s+minut|tra\\s+un'?\\s*or)\\b/.test(testo)) {\n    intent = 'timer';\n    const m = testo.match(/(\\d+)\\s*(minut|second|or)/);\n    if (m) { entita.valore = parseInt(m[1]); entita.unita = m[2]; }\n\n// Stato sistema\n} else if (/\\b(stato|status|come\\s+stai|tutto\\s+ok|funzion|sei\\s+sveglia)\\b/.test(testo)) {\n    intent = 'stato_sistema';\n}\n\nmsg.intent = intent;\nmsg.entita = entita;\n\nnode.log('intent=' + intent + ' stanza=' + stanza + ' testo=\"' + msg.testo + '\"');\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 360,
    "y": 100,
    "wires": [
      [
        "voice-sw-intent",
        "voice-debug"
      ]
    ]
  },
  {
    "id": "voice-debug",
    "type": "debug",
    "z": "tab-gaia-voice",
    "name": "Voice Log",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "true",
    "targetType": "full",
    "x": 360,
    "y": 40,
    "wires": []
  },
  {
    "id": "voice-sw-intent",
    "type": "switch",
    "z": "tab-gaia-voice",
    "name": "Routing Intent",
    "property": "intent",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "luci_accendi",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "luci_spegni",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "orario",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "data",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "presenza",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "temperatura",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "meteo",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "musica",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "timer",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "stato_sistema",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 11,
    "x": 580,
    "y": 100,
    "wires": [
      [
        "fn-luci-on"
      ],
      [
        "fn-luci-off"
      ],
      [
        "fn-orario"
      ],
      [
        "fn-data"
      ],
      [
        "fn-presenza"
      ],
      [
        "fn-temperatura"
      ],
      [
        "fn-meteo"
      ],
      [
        "fn-musica"
      ],
      [
        "fn-timer"
      ],
      [
        "fn-stato"
      ],
      [
        "fn-unknown"
      ]
    ]
  },
  {
    "id": "fn-luci-on",
    "type": "function",
    "z": "tab-gaia-voice",
    "name": "Luci ON",
    "func": "const stanza_target = msg.entita.stanza_target || msg.stanza;\nmsg.tts_text = 'Luci accese in ' + stanza_target;\n\n// Pubblica azione home automation\nnode.send([\n    msg,\n    {\n        topic: 'gaia/home/lights/' + stanza_target + '/set',\n        payload: JSON.stringify({ state: 'ON', stanza: stanza_target })\n    }\n]);\nreturn null;",
    "outputs": 2,
    "noerr": 0,
    "x": 830,
    "y": 40,
    "wires": [
      [
        "fn-build-tts"
      ],
      [
        "voice-mqtt-out-home"
      ]
    ]
  },
  {
    "id": "fn-luci-off",
    "type": "function",
    "z": "tab-gaia-voice",
    "name": "Luci OFF",
    "func": "const stanza_target = msg.entita.stanza_target || msg.stanza;\nmsg.tts_text = 'Luci spente in ' + stanza_target;\n\nnode.send([\n    msg,\n    {\n        topic: 'gaia/home/lights/' + stanza_target + '/set',\n        payload: JSON.stringify({ state: 'OFF', stanza: stanza_target })\n    }\n]);\nreturn null;",
    "outputs": 2,
    "noerr": 0,
    "x": 830,
    "y": 100,
    "wires": [
      [
        "fn-build-tts"
      ],
      [
        "voice-mqtt-out-home"
      ]
    ]
  },
  {
    "id": "fn-orario",
    "type": "function",
    "z": "tab-gaia-voice",
    "name": "Orario",
    "func": "const now = new Date();\nconst ore = now.getHours();\nconst min = now.getMinutes().toString().padStart(2,'0');\nmsg.tts_text = 'Sono le ' + ore + ' e ' + min;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 830,
    "y": 160,
    "wires": [
      [
        "fn-build-tts"
      ]
    ]
  },
  {
    "id": "fn-data",
    "type": "function",
    "z": "tab-gaia-voice",
    "name": "Data",
    "func": "const giorni = ['domenica','lunedì','martedì','mercoledì','giovedì','venerdì','sabato'];\nconst mesi = ['gennaio','febbraio','marzo','aprile','maggio','giugno','luglio','agosto','settembre','ottobre','novembre','dicembre'];\nconst now = new Date();\nmsg.tts_text = 'Oggi è ' + giorni[now.getDay()] + ' ' + now.getDate() + ' ' + mesi[now.getMonth()] + ' ' + now.getFullYear();\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 830,
    "y": 220,
    "wires": [
      [
        "fn-build-tts"
      ]
    ]
  },
  {
    "id": "fn-presenza",
    "type": "function",
    "z": "tab-gaia-voice",
    "name": "Presenza",
    "func": "// Legge i dati di presenza salvati dal flow YOLO\nconst presenza = flow.get('persone_in_casa') || {};\nconst totale = presenza.totale || 0;\nconst stanze = presenza.stanze || {};\n\nif (totale === 0) {\n    msg.tts_text = 'Non ci sono persone rilevate in casa.';\n} else if (totale === 1) {\n    msg.tts_text = \"C'è una persona in casa.\";\n} else {\n    msg.tts_text = 'Ci sono ' + totale + ' persone in casa.';\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 830,
    "y": 280,
    "wires": [
      [
        "fn-build-tts"
      ]
    ]
  },
  {
    "id": "fn-temperatura",
    "type": "function",
    "z": "tab-gaia-voice",
    "name": "Temperatura",
    "func": "const temp = flow.get('temperatura_casa');\nif (temp !== null && temp !== undefined) {\n    msg.tts_text = 'La temperatura in casa è di ' + Math.round(temp) + ' gradi.';\n} else {\n    msg.tts_text = 'Non ho dati di temperatura al momento.';\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 830,
    "y": 340,
    "wires": [
      [
        "fn-build-tts"
      ]
    ]
  },
  {
    "id": "fn-meteo",
    "type": "function",
    "z": "tab-gaia-voice",
    "name": "Meteo",
    "func": "msg.tts_text = 'Non ho ancora integrato il meteo. Posso aiutarti con altro?';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 830,
    "y": 400,
    "wires": [
      [
        "fn-build-tts"
      ]
    ]
  },
  {
    "id": "fn-musica",
    "type": "function",
    "z": "tab-gaia-voice",
    "name": "Musica",
    "func": "const brano = msg.entita.brano || '';\nmsg.tts_text = brano ? 'Metto ' + brano : 'Avvio la musica.';\n\nnode.send([\n    msg,\n    {\n        topic: 'gaia/home/music/play',\n        payload: JSON.stringify({ brano: brano, stanza: msg.stanza })\n    }\n]);\nreturn null;",
    "outputs": 2,
    "noerr": 0,
    "x": 830,
    "y": 460,
    "wires": [
      [
        "fn-build-tts"
      ],
      [
        "voice-mqtt-out-home"
      ]
    ]
  },
  {
    "id": "fn-timer",
    "type": "function",
    "z": "tab-gaia-voice",
    "name": "Timer",
    "func": "const { valore, unita } = msg.entita;\nif (!valore) {\n    msg.tts_text = 'Non ho capito la durata del timer.';\n    return msg;\n}\nconst unitaLabel = unita && unita.startsWith('second') ? 'secondi' :\n                   unita && unita.startsWith('or')     ? (valore === 1 ? 'ora' : 'ore') :\n                   (valore === 1 ? 'minuto' : 'minuti');\nmsg.tts_text = 'Timer impostato per ' + valore + ' ' + unitaLabel + '.';\n\n// Calcola ms\nconst ms = unita && unita.startsWith('second') ? valore * 1000 :\n           unita && unita.startsWith('or')     ? valore * 3600000 :\n           valore * 60000;\n\nconst stanza = msg.stanza;\nsetTimeout(() => {\n    node.send([null, {\n        topic: 'gaia/voice/tts/' + stanza,\n        payload: JSON.stringify({ text: 'Timer scaduto!', stanza: stanza, ts: Date.now() })\n    }]);\n}, ms);\n\nreturn [msg, null];",
    "outputs": 2,
    "noerr": 0,
    "x": 830,
    "y": 520,
    "wires": [
      [
        "fn-build-tts"
      ],
      [
        "voice-mqtt-out-tts"
      ]
    ]
  },
  {
    "id": "fn-stato",
    "type": "function",
    "z": "tab-gaia-voice",
    "name": "Stato Sistema",
    "func": "msg.tts_text = 'Sistema Gaia operativo. Tutto funziona correttamente.';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 830,
    "y": 580,
    "wires": [
      [
        "fn-build-tts"
      ]
    ]
  },
  {
    "id": "fn-unknown",
    "type": "function",
    "z": "tab-gaia-voice",
    "name": "Sconosciuto",
    "func": "const risposte = [\n    'Non ho capito. Puoi ripetere?',\n    'Scusa, non ho compreso. Riprova.',\n    'Non sono sicura di aver capito. Puoi riformulare?'\n];\nmsg.tts_text = risposte[Math.floor(Math.random() * risposte.length)];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 830,
    "y": 640,
    "wires": [
      [
        "fn-build-tts"
      ]
    ]
  },
  {
    "id": "fn-build-tts",
    "type": "function",
    "z": "tab-gaia-voice",
    "name": "Build TTS payload",
    "func": "msg.topic   = 'gaia/voice/tts/' + msg.stanza;\nmsg.payload = JSON.stringify({\n    text:   msg.tts_text,\n    stanza: msg.stanza,\n    intent: msg.intent,\n    ts:     Date.now()\n});\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1080,
    "y": 340,
    "wires": [
      [
        "voice-mqtt-out-tts"
      ]
    ]
  },
  {
    "id": "voice-mqtt-out-tts",
    "type": "mqtt out",
    "z": "tab-gaia-voice",
    "name": "TTS → Pi",
    "topic": "",
    "qos": "0",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "29b6d5926d1a95ec",
    "x": 1290,
    "y": 340,
    "wires": []
  },
  {
    "id": "voice-mqtt-out-home",
    "type": "mqtt out",
    "z": "tab-gaia-voice",
    "name": "Home Automation",
    "topic": "",
    "qos": "0",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "29b6d5926d1a95ec",
    "x": 1290,
    "y": 440,
    "wires": []
  },
  {
    "id": "voice-status-in",
    "type": "mqtt in",
    "z": "tab-gaia-voice",
    "name": "Status Vocale",
    "topic": "gaia/voice/status/+",
    "qos": "0",
    "datatype": "json",
    "broker": "29b6d5926d1a95ec",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 150,
    "y": 760,
    "wires": [
      [
        "fn-status-update"
      ]
    ]
  },
  {
    "id": "fn-status-update",
    "type": "function",
    "z": "tab-gaia-voice",
    "name": "Aggiorna stato Pi",
    "func": "const parts = msg.topic.split('/');\nconst stanza = parts[3];\nconst stati = flow.get('voice_status') || {};\nstati[stanza] = {\n    state:  msg.payload.state,\n    ts:     msg.payload.ts,\n    aggiornato: Date.now()\n};\nflow.set('voice_status', stati);\nreturn null;",
    "outputs": 0,
    "noerr": 0,
    "x": 400,
    "y": 760,
    "wires": []
  },
  {
    "id": "yolo-presence-in",
    "type": "mqtt in",
    "z": "tab-gaia-voice",
    "name": "YOLO Presenze",
    "topic": "gaia/vision/persons/#",
    "qos": "0",
    "datatype": "json",
    "broker": "29b6d5926d1a95ec",
    "nl": false,
    "rap": false,
    "rh": 0,
    "inputs": 0,
    "x": 150,
    "y": 860,
    "wires": [
      [
        "fn-update-presence"
      ]
    ]
  },
  {
    "id": "fn-update-presence",
    "type": "function",
    "z": "tab-gaia-voice",
    "name": "Aggiorna presenze",
    "func": "const parts = msg.topic.split('/');\nconst stanza = parts[3] || 'sconosciuta';\nconst persone = flow.get('persone_in_casa') || { totale: 0, stanze: {} };\n\nconst count = msg.payload.count || 0;\npersone.stanze[stanza] = { count, ts: Date.now() };\n\n// Rimuovi stanze non aggiornate da più di 30s\nconst ora = Date.now();\nObject.keys(persone.stanze).forEach(s => {\n    if (ora - persone.stanze[s].ts > 30000) delete persone.stanze[s];\n});\n\npersone.totale = Object.values(persone.stanze).reduce((a, s) => a + s.count, 0);\nflow.set('persone_in_casa', persone);\nreturn null;",
    "outputs": 0,
    "noerr": 0,
    "x": 400,
    "y": 860,
    "wires": []
  },
  {
    "id": "pe_cleanup_inject_60s",
    "type": "inject",
    "z": "d92b8af64f8801d5",
    "name": "Presence Cleanup (60s)",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "60",
    "crontab": "",
    "once": true,
    "onceDelay": 5,
    "topic": "",
    "payload": "{\"__cleanup\":true}",
    "payloadType": "json",
    "x": 140,
    "y": 620,
    "wires": [
      [
        "b2ec295f9322f551"
      ]
    ]
  },
  {
    "id": "intent_parser_01",
    "type": "function",
    "z": "6087d338d264e627",
    "name": "IntentParser",
    "func": "// Separa ACTION:JSON dal testo di risposta\nlet text = (msg.payload && (msg.payload.message || msg.payload.response || '')) || msg.tts_text || '';\nlet action = null;\n\n// Cerca ACTION:{...} in fondo (anche su riga propria)\nconst actionRe = /\\n?ACTION:\\s*(\\{[^\\n\\r]+\\})\\s*$/m;\nconst m = text.match(actionRe);\nif (m) {\n    try { action = JSON.parse(m[1]); } catch(e) { action = null; }\n    text = text.replace(actionRe, '').trim();\n}\n\nmsg.payload = { person: msg.person || 'Gaia', message: text, ts: Date.now() };\nmsg.tts_text = text;\nmsg.action = action;\n\n// Out 1 → Prepara TTS (sempre)\n// Out 2 → ActionRouter (solo se action)\nreturn [msg, action ? msg : null];",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 820,
    "y": 140,
    "wires": [
      [
        "e03e3304ca745172"
      ],
      [
        "action_router_01"
      ]
    ]
  },
  {
    "id": "action_router_01",
    "type": "function",
    "z": "6087d338d264e627",
    "name": "ActionRouter",
    "func": "const action = msg.action;\nif (!action || !action.tipo) return null;\n\n// Out 1 → HueExecutor (tipo=hue)\n// Out 2 → GaiaExpression (tipo=stato)\n// Out 3 → (futuro: musica, three.js diretto, ecc.)\nif (action.tipo === 'hue') return [msg, null, null];\nif (action.tipo === 'stato') return [null, msg, null];\nreturn null;",
    "outputs": 3,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1020,
    "y": 200,
    "wires": [
      [
        "hue_executor_01"
      ],
      [
        "gaia_expression_01"
      ],
      []
    ]
  },
  {
    "id": "hue_executor_01",
    "type": "function",
    "z": "6087d338d264e627",
    "name": "HueExecutor",
    "func": "const action = msg.action || {};\n\n// ── Scene predefinite (brightness 0-100, color_temp in Kelvin, color in HSB \"H,S,B\") ──\nconst SCENES = {\n    alba:     { brightness: 70, color_temp: 3200 },\n    relax:    { brightness: 40, color_temp: 2700 },\n    focus:    { brightness: 80, color_temp: 5000 },\n    sera:     { brightness: 30, color_temp: 2400 },\n    notte:    { brightness: 10, color_temp: 2000 },\n    festa:    { brightness: 100, color: '0,100,100' },\n    tempesta: { brightness: 50, color: '240,60,55' },\n    natura:   { brightness: 65, color: '115,70,65' },\n};\n\n// ── Mappa stanza → prefisso OpenHAB (adatta ai tuoi item) ────────────────────\n// NOTA: i nomi degli item devono corrispondere a quelli in OpenHAB\n// Es: openhab/hue/Salotto_Potenza_Luce/command\nconst ROOM_PREFIX = {\n    salotto:  'Salotto',\n    cucina:   'Cucina',\n    ingresso: 'Ingresso',\n    studio:   'Studio',\n    camera:   'Camera',\n    bagno:    'Bagno',\n};\n\nconst stanza = (action.stanza || 'salotto').toLowerCase().trim();\nconst prefix = ROOM_PREFIX[stanza] || (stanza.charAt(0).toUpperCase() + stanza.slice(1));\n\nfunction cmd(item, value) {\n    node.send({ topic: `openhab/hue/${item}/command`, payload: String(value) });\n}\n\n// ── Power on/off ──────────────────────────────────────────────────────────────\nif (action.power !== undefined) {\n    cmd(`${prefix}_Potenza_Luce`, action.power ? 'ON' : 'OFF');\n    if (!action.power) return null;\n}\n\n// ── Luminosità diretta ────────────────────────────────────────────────────────\nif (action.brightness !== undefined) {\n    cmd(`${prefix}_Potenza_Luce`, 'ON');\n    cmd(`${prefix}_Luminosita_Luce`, Math.max(0, Math.min(100, Math.round(action.brightness))));\n}\n\n// ── Colore per nome o HSB ─────────────────────────────────────────────────────\nconst COLOR_MAP = {\n    rosso:   '0,100,70',\n    verde:   '110,80,65',\n    blu:     '240,100,60',\n    giallo:  '50,100,80',\n    arancio: '30,100,75',\n    viola:   '290,80,65',\n    bianco:  '0,0,100',\n    warm:    null,   // gestito sotto come color_temp\n    cool:    null,\n};\nif (action.colore) {\n    const c = action.colore.toLowerCase();\n    if (c === 'warm') {\n        cmd(`${prefix}_Potenza_Luce`, 'ON');\n        cmd(`${prefix}_TemperaturaColore_Luce`, 2700);\n    } else if (c === 'cool') {\n        cmd(`${prefix}_Potenza_Luce`, 'ON');\n        cmd(`${prefix}_TemperaturaColore_Luce`, 5000);\n    } else {\n        const hsb = COLOR_MAP[c] || c;\n        cmd(`${prefix}_Potenza_Luce`, 'ON');\n        cmd(`${prefix}_Colore_Luce`, hsb);\n    }\n}\n\n// ── Temperatura colore diretta (Kelvin) ───────────────────────────────────────\nif (action.color_temp) {\n    cmd(`${prefix}_Potenza_Luce`, 'ON');\n    cmd(`${prefix}_TemperaturaColore_Luce`, action.color_temp);\n}\n\n// ── Scena predefinita ─────────────────────────────────────────────────────────\nif (action.scena) {\n    const scene = SCENES[action.scena.toLowerCase()];\n    if (scene) {\n        cmd(`${prefix}_Potenza_Luce`, 'ON');\n        cmd(`${prefix}_Luminosita_Luce`, scene.brightness);\n        if (scene.color_temp) cmd(`${prefix}_TemperaturaColore_Luce`, scene.color_temp);\n        if (scene.color)      cmd(`${prefix}_Colore_Luce`, scene.color);\n    }\n}\n\nreturn null;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1240,
    "y": 160,
    "wires": [
      [
        "openhab_mqtt_out_01"
      ]
    ]
  },
  {
    "id": "gaia_expression_01",
    "type": "function",
    "z": "6087d338d264e627",
    "name": "GaiaExpression",
    "func": "const brain = global.get('gaiaBrain') || {};\nconst mood = brain.mood?.state || 'neutra';\n\n// Mappe umore → scena luci\nconst MOOD_SCENES = {\n    neutra:    { brightness: 60, color_temp: 4000, nome: 'luce naturale bilanciata' },\n    calm:      { brightness: 35, color_temp: 2700, nome: 'luce soffusa e calda' },\n    social:    { brightness: 80, color_temp: 3000, nome: 'luce vivace e accogliente' },\n    stress:    { brightness: 50, color_temp: 3200, nome: 'luce moderata' },\n    curiosity: { brightness: 75, color_temp: 5000, nome: 'luce brillante e ispiratrice' },\n};\n\nconst scene = MOOD_SCENES[mood] || MOOD_SCENES.neutra;\n\n// Aggiorna brain.activeScene (ThreeJS lo legge via gaia/brain/state)\nbrain.activeScene = { mood, ...scene, ts: Date.now() };\nglobal.set('gaiaBrain', brain);\n\n// Trova stanze abitate (esclude nodi camera/vision)\nconst ROOM_PREFIX = {\n    salotto: 'Salotto', cucina: 'Cucina', ingresso: 'Ingresso',\n    studio: 'Studio', camera: 'Camera', bagno: 'Bagno',\n};\nconst activeRooms = Object.keys(brain.rooms || {}).filter(r =>\n    !r.includes('cam') && !r.includes('vision') && r !== 'unknown' &&\n    (brain.rooms[r]?.persons_count || 0) > 0\n);\nif (activeRooms.length === 0) activeRooms.push('salotto');\n\nfor (const room of activeRooms) {\n    const prefix = ROOM_PREFIX[room] || (room.charAt(0).toUpperCase() + room.slice(1));\n    node.send({ topic: `openhab/hue/${prefix}_Potenza_Luce/command`, payload: 'ON' });\n    node.send({ topic: `openhab/hue/${prefix}_Luminosita_Luce/command`, payload: String(scene.brightness) });\n    node.send({ topic: `openhab/hue/${prefix}_TemperaturaColore_Luce/command`, payload: String(scene.color_temp) });\n}\nreturn null;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1240,
    "y": 240,
    "wires": [
      [
        "openhab_mqtt_out_01"
      ]
    ]
  },
  {
    "id": "openhab_mqtt_out_01",
    "type": "mqtt out",
    "z": "6087d338d264e627",
    "name": "→ OpenHAB",
    "topic": "",
    "qos": "0",
    "retain": "false",
    "broker": "29b6d5926d1a95ec",
    "x": 1460,
    "y": 200,
    "wires": []
  },
  {
    "id": "mood_scene_sync_01",
    "type": "function",
    "z": "d3a553c4a24c8d2d",
    "name": "MoodSceneSync",
    "func": "// Applica scena umore → OpenHAB\nconst brain = global.get('gaiaBrain') || {};\nconst mood = brain.mood?.state || 'neutra';\nconst MOOD_SCENES = {\n    neutra:    { brightness: 60, color_temp: 4000 },\n    calm:      { brightness: 35, color_temp: 2700 },\n    social:    { brightness: 80, color_temp: 3000 },\n    stress:    { brightness: 50, color_temp: 3200 },\n    curiosity: { brightness: 75, color_temp: 5000 },\n};\nconst scene = MOOD_SCENES[mood] || MOOD_SCENES.neutra;\nbrain.activeScene = { mood, ...scene, ts: Date.now() };\nglobal.set('gaiaBrain', brain);\n\nconst ROOM_PREFIX = {\n    salotto: 'Salotto', cucina: 'Cucina', ingresso: 'Ingresso',\n    studio: 'Studio', camera: 'Camera', bagno: 'Bagno',\n};\nconst activeRooms = Object.keys(brain.rooms || {}).filter(r =>\n    !r.includes('cam') && !r.includes('vision') && r !== 'unknown' &&\n    (brain.rooms[r]?.persons_count || 0) > 0\n);\nif (activeRooms.length === 0) return null;\n\nfor (const room of activeRooms) {\n    const prefix = ROOM_PREFIX[room] || (room.charAt(0).toUpperCase() + room.slice(1));\n    node.send({ topic: `openhab/hue/${prefix}_Potenza_Luce/command`, payload: 'ON' });\n    node.send({ topic: `openhab/hue/${prefix}_Luminosita_Luce/command`, payload: String(scene.brightness) });\n    node.send({ topic: `openhab/hue/${prefix}_TemperaturaColore_Luce/command`, payload: String(scene.color_temp) });\n}\nreturn null;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 700,
    "y": 700,
    "wires": [
      [
        "mood_openhab_out_01"
      ]
    ]
  },
  {
    "id": "mood_openhab_out_01",
    "type": "mqtt out",
    "z": "d3a553c4a24c8d2d",
    "name": "→ OpenHAB (Mood)",
    "topic": "",
    "qos": "0",
    "retain": "false",
    "broker": "29b6d5926d1a95ec",
    "x": 920,
    "y": 700,
    "wires": []
  }
]