node-red/voice-flow.json
[
  {
    "id": "tab-gaia-voice",
    "type": "tab",
    "label": "GAIA Voice",
    "disabled": false,
    "info": "Gestione comandi vocali GAIA.\nImporta: Menu → Import → seleziona questo file.\nDopo import: aggiorna il broker MQTT nei nodi mqtt in/out con il tuo broker esistente."
  },

  {
    "id": "voice-mqtt-in",
    "type": "mqtt in",
    "z": "tab-gaia-voice",
    "name": "Comando Vocale",
    "topic": "gaia/voice/command/+",
    "qos": "0",
    "datatype": "json",
    "broker": "29b6d5926d1a95ec",
    "nl": false,
    "rap": false,
    "rh": 0,
    "inputs": 0,
    "x": 150,
    "y": 100,
    "wires": [["voice-fn-intent"]]
  },

  {
    "id": "voice-fn-intent",
    "type": "function",
    "z": "tab-gaia-voice",
    "name": "Intent Detection",
    "func": "// Estrai stanza dal topic: gaia/voice/command/{stanza}\nconst parts = msg.topic.split('/');\nconst stanza = parts[3] || msg.payload.stanza || 'sconosciuta';\nconst testo = (msg.payload.text || '').toLowerCase().trim();\n\nmsg.stanza = stanza;\nmsg.testo = msg.payload.text || '';\nmsg.ts = msg.payload.ts || Date.now();\n\nlet intent = 'sconosciuto';\nlet entita = {};\n\n// Luci — accendi\nif (/\\b(accendi|apri|attiva)\\b/.test(testo) && /\\b(luce|luci|lampada)\\b/.test(testo)) {\n    intent = 'luci_accendi';\n    const m = testo.match(/\\b(cucina|soggiorno|camera|bagno|ingresso|studio|sala)\\b/);\n    if (m) entita.stanza_target = m[1];\n\n// Luci — spegni\n} else if (/\\b(spegni|chiudi|disattiva)\\b/.test(testo) && /\\b(luce|luci|lampada)\\b/.test(testo)) {\n    intent = 'luci_spegni';\n    const m = testo.match(/\\b(cucina|soggiorno|camera|bagno|ingresso|studio|sala)\\b/);\n    if (m) entita.stanza_target = m[1];\n\n// Temperatura\n} else if (/\\b(temperatura|termostato|caldo|freddo|gradi|quanti gradi)\\b/.test(testo)) {\n    intent = 'temperatura';\n\n// Presenza — chi è in casa\n} else if (/\\b(chi|quante\\s+persone|c'è\\s+qualcuno|c'è\\s+nessuno)\\b/.test(testo) && /\\b(casa|stanza|qui|dentro)\\b/.test(testo)) {\n    intent = 'presenza';\n} else if (/\\b(qualcuno\\s+in\\s+casa|persone\\s+in\\s+casa)\\b/.test(testo)) {\n    intent = 'presenza';\n\n// Orario\n} else if (/\\b(che\\s+ora|che\\s+ore|orario|ora\\s+è|ore\\s+sono)\\b/.test(testo)) {\n    intent = 'orario';\n\n// Data\n} else if (/\\b(che\\s+giorno|che\\s+data|giorno\\s+è|data\\s+è|giorno\\s+siamo)\\b/.test(testo)) {\n    intent = 'data';\n\n// Meteo\n} else if (/\\b(meteo|tempo|previsioni|piove|pioggia|neve|sole|nuvol)\\b/.test(testo)) {\n    intent = 'meteo';\n\n// Musica\n} else if (/\\b(musica|metti|suona|riproduci|canzone|play|metti\\s+su)\\b/.test(testo)) {\n    intent = 'musica';\n    const m = testo.match(/(?:metti|suona|riproduci)\\s+(.+)/);\n    if (m) entita.brano = m[1].trim();\n\n// Timer / Sveglia\n} else if (/\\b(timer|sveglia|ricordami|tra\\s+\\d+\\s+minut|tra\\s+un'?\\s*or)\\b/.test(testo)) {\n    intent = 'timer';\n    const m = testo.match(/(\\d+)\\s*(minut|second|or)/);\n    if (m) { entita.valore = parseInt(m[1]); entita.unita = m[2]; }\n\n// Stato sistema\n} else if (/\\b(stato|status|come\\s+stai|tutto\\s+ok|funzion|sei\\s+sveglia)\\b/.test(testo)) {\n    intent = 'stato_sistema';\n}\n\nmsg.intent = intent;\nmsg.entita = entita;\n\nnode.log('intent=' + intent + ' stanza=' + stanza + ' testo=\"' + msg.testo + '\"');\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 360,
    "y": 100,
    "wires": [["voice-sw-intent", "voice-debug"]]
  },

  {
    "id": "voice-debug",
    "type": "debug",
    "z": "tab-gaia-voice",
    "name": "Voice Log",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "true",
    "targetType": "full",
    "x": 360,
    "y": 40,
    "wires": []
  },

  {
    "id": "voice-sw-intent",
    "type": "switch",
    "z": "tab-gaia-voice",
    "name": "Routing Intent",
    "property": "intent",
    "propertyType": "msg",
    "rules": [
      {"t": "eq", "v": "luci_accendi",   "vt": "str"},
      {"t": "eq", "v": "luci_spegni",    "vt": "str"},
      {"t": "eq", "v": "orario",         "vt": "str"},
      {"t": "eq", "v": "data",           "vt": "str"},
      {"t": "eq", "v": "presenza",       "vt": "str"},
      {"t": "eq", "v": "temperatura",    "vt": "str"},
      {"t": "eq", "v": "meteo",          "vt": "str"},
      {"t": "eq", "v": "musica",         "vt": "str"},
      {"t": "eq", "v": "timer",          "vt": "str"},
      {"t": "eq", "v": "stato_sistema",  "vt": "str"},
      {"t": "else"}
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 11,
    "x": 580,
    "y": 100,
    "wires": [
      ["fn-luci-on"],
      ["fn-luci-off"],
      ["fn-orario"],
      ["fn-data"],
      ["fn-presenza"],
      ["fn-temperatura"],
      ["fn-meteo"],
      ["fn-musica"],
      ["fn-timer"],
      ["fn-stato"],
      ["fn-unknown"]
    ]
  },

  {
    "id": "fn-luci-on",
    "type": "function",
    "z": "tab-gaia-voice",
    "name": "Luci ON",
    "func": "const stanza_target = msg.entita.stanza_target || msg.stanza;\nmsg.tts_text = 'Luci accese in ' + stanza_target;\n\n// Pubblica azione home automation\nnode.send([\n    msg,\n    {\n        topic: 'gaia/home/lights/' + stanza_target + '/set',\n        payload: JSON.stringify({ state: 'ON', stanza: stanza_target })\n    }\n]);\nreturn null;",
    "outputs": 2,
    "noerr": 0,
    "x": 830,
    "y": 40,
    "wires": [["fn-build-tts"], ["voice-mqtt-out-home"]]
  },

  {
    "id": "fn-luci-off",
    "type": "function",
    "z": "tab-gaia-voice",
    "name": "Luci OFF",
    "func": "const stanza_target = msg.entita.stanza_target || msg.stanza;\nmsg.tts_text = 'Luci spente in ' + stanza_target;\n\nnode.send([\n    msg,\n    {\n        topic: 'gaia/home/lights/' + stanza_target + '/set',\n        payload: JSON.stringify({ state: 'OFF', stanza: stanza_target })\n    }\n]);\nreturn null;",
    "outputs": 2,
    "noerr": 0,
    "x": 830,
    "y": 100,
    "wires": [["fn-build-tts"], ["voice-mqtt-out-home"]]
  },

  {
    "id": "fn-orario",
    "type": "function",
    "z": "tab-gaia-voice",
    "name": "Orario",
    "func": "const now = new Date();\nconst ore = now.getHours();\nconst min = now.getMinutes().toString().padStart(2,'0');\nmsg.tts_text = 'Sono le ' + ore + ' e ' + min;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 830,
    "y": 160,
    "wires": [["fn-build-tts"]]
  },

  {
    "id": "fn-data",
    "type": "function",
    "z": "tab-gaia-voice",
    "name": "Data",
    "func": "const giorni = ['domenica','lunedì','martedì','mercoledì','giovedì','venerdì','sabato'];\nconst mesi = ['gennaio','febbraio','marzo','aprile','maggio','giugno','luglio','agosto','settembre','ottobre','novembre','dicembre'];\nconst now = new Date();\nmsg.tts_text = 'Oggi è ' + giorni[now.getDay()] + ' ' + now.getDate() + ' ' + mesi[now.getMonth()] + ' ' + now.getFullYear();\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 830,
    "y": 220,
    "wires": [["fn-build-tts"]]
  },

  {
    "id": "fn-presenza",
    "type": "function",
    "z": "tab-gaia-voice",
    "name": "Presenza",
    "func": "// Legge i dati di presenza salvati dal flow YOLO\nconst presenza = flow.get('persone_in_casa') || {};\nconst totale = presenza.totale || 0;\nconst stanze = presenza.stanze || {};\n\nif (totale === 0) {\n    msg.tts_text = 'Non ci sono persone rilevate in casa.';\n} else if (totale === 1) {\n    msg.tts_text = 'C'è una persona in casa.';\n} else {\n    msg.tts_text = 'Ci sono ' + totale + ' persone in casa.';\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 830,
    "y": 280,
    "wires": [["fn-build-tts"]]
  },

  {
    "id": "fn-temperatura",
    "type": "function",
    "z": "tab-gaia-voice",
    "name": "Temperatura",
    "func": "const temp = flow.get('temperatura_casa');\nif (temp !== null && temp !== undefined) {\n    msg.tts_text = 'La temperatura in casa è di ' + Math.round(temp) + ' gradi.';\n} else {\n    msg.tts_text = 'Non ho dati di temperatura al momento.';\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 830,
    "y": 340,
    "wires": [["fn-build-tts"]]
  },

  {
    "id": "fn-meteo",
    "type": "function",
    "z": "tab-gaia-voice",
    "name": "Meteo",
    "func": "msg.tts_text = 'Non ho ancora integrato il meteo. Posso aiutarti con altro?';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 830,
    "y": 400,
    "wires": [["fn-build-tts"]]
  },

  {
    "id": "fn-musica",
    "type": "function",
    "z": "tab-gaia-voice",
    "name": "Musica",
    "func": "const brano = msg.entita.brano || '';\nmsg.tts_text = brano ? 'Metto ' + brano : 'Avvio la musica.';\n\nnode.send([\n    msg,\n    {\n        topic: 'gaia/home/music/play',\n        payload: JSON.stringify({ brano: brano, stanza: msg.stanza })\n    }\n]);\nreturn null;",
    "outputs": 2,
    "noerr": 0,
    "x": 830,
    "y": 460,
    "wires": [["fn-build-tts"], ["voice-mqtt-out-home"]]
  },

  {
    "id": "fn-timer",
    "type": "function",
    "z": "tab-gaia-voice",
    "name": "Timer",
    "func": "const { valore, unita } = msg.entita;\nif (!valore) {\n    msg.tts_text = 'Non ho capito la durata del timer.';\n    return msg;\n}\nconst unitaLabel = unita && unita.startsWith('second') ? 'secondi' :\n                   unita && unita.startsWith('or')     ? (valore === 1 ? 'ora' : 'ore') :\n                   (valore === 1 ? 'minuto' : 'minuti');\nmsg.tts_text = 'Timer impostato per ' + valore + ' ' + unitaLabel + '.';\n\n// Calcola ms\nconst ms = unita && unita.startsWith('second') ? valore * 1000 :\n           unita && unita.startsWith('or')     ? valore * 3600000 :\n           valore * 60000;\n\nconst stanza = msg.stanza;\nsetTimeout(() => {\n    node.send([null, {\n        topic: 'gaia/voice/tts/' + stanza,\n        payload: JSON.stringify({ text: 'Timer scaduto!', stanza: stanza, ts: Date.now() })\n    }]);\n}, ms);\n\nreturn [msg, null];",
    "outputs": 2,
    "noerr": 0,
    "x": 830,
    "y": 520,
    "wires": [["fn-build-tts"], ["voice-mqtt-out-tts"]]
  },

  {
    "id": "fn-stato",
    "type": "function",
    "z": "tab-gaia-voice",
    "name": "Stato Sistema",
    "func": "msg.tts_text = 'Sistema Gaia operativo. Tutto funziona correttamente.';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 830,
    "y": 580,
    "wires": [["fn-build-tts"]]
  },

  {
    "id": "fn-unknown",
    "type": "function",
    "z": "tab-gaia-voice",
    "name": "Sconosciuto",
    "func": "const risposte = [\n    'Non ho capito. Puoi ripetere?',\n    'Scusa, non ho compreso. Riprova.',\n    'Non sono sicura di aver capito. Puoi riformulare?'\n];\nmsg.tts_text = risposte[Math.floor(Math.random() * risposte.length)];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 830,
    "y": 640,
    "wires": [["fn-build-tts"]]
  },

  {
    "id": "fn-build-tts",
    "type": "function",
    "z": "tab-gaia-voice",
    "name": "Build TTS payload",
    "func": "msg.topic   = 'gaia/voice/tts/' + msg.stanza;\nmsg.payload = JSON.stringify({\n    text:   msg.tts_text,\n    stanza: msg.stanza,\n    intent: msg.intent,\n    ts:     Date.now()\n});\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1080,
    "y": 340,
    "wires": [["voice-mqtt-out-tts"]]
  },

  {
    "id": "voice-mqtt-out-tts",
    "type": "mqtt out",
    "z": "tab-gaia-voice",
    "name": "TTS → Pi",
    "topic": "",
    "qos": "0",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "29b6d5926d1a95ec",
    "x": 1290,
    "y": 340,
    "wires": []
  },

  {
    "id": "voice-mqtt-out-home",
    "type": "mqtt out",
    "z": "tab-gaia-voice",
    "name": "Home Automation",
    "topic": "",
    "qos": "0",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "29b6d5926d1a95ec",
    "x": 1290,
    "y": 440,
    "wires": []
  },

  {
    "id": "voice-status-in",
    "type": "mqtt in",
    "z": "tab-gaia-voice",
    "name": "Status Vocale",
    "topic": "gaia/voice/status/+",
    "qos": "0",
    "datatype": "json",
    "broker": "29b6d5926d1a95ec",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 150,
    "y": 760,
    "wires": [["fn-status-update"]]
  },

  {
    "id": "fn-status-update",
    "type": "function",
    "z": "tab-gaia-voice",
    "name": "Aggiorna stato Pi",
    "func": "const parts = msg.topic.split('/');\nconst stanza = parts[3];\nconst stati = flow.get('voice_status') || {};\nstati[stanza] = {\n    state:  msg.payload.state,\n    ts:     msg.payload.ts,\n    aggiornato: Date.now()\n};\nflow.set('voice_status', stati);\nreturn null;",
    "outputs": 0,
    "noerr": 0,
    "x": 400,
    "y": 760,
    "wires": []
  },

  {
    "id": "yolo-presence-in",
    "type": "mqtt in",
    "z": "tab-gaia-voice",
    "name": "YOLO Presenze",
    "topic": "gaia/vision/persons/#",
    "qos": "0",
    "datatype": "json",
    "broker": "29b6d5926d1a95ec",
    "nl": false,
    "rap": false,
    "rh": 0,
    "inputs": 0,
    "x": 150,
    "y": 860,
    "wires": [["fn-update-presence"]]
  },

  {
    "id": "fn-update-presence",
    "type": "function",
    "z": "tab-gaia-voice",
    "name": "Aggiorna presenze",
    "func": "const parts = msg.topic.split('/');\nconst stanza = parts[3] || 'sconosciuta';\nconst persone = flow.get('persone_in_casa') || { totale: 0, stanze: {} };\n\nconst count = msg.payload.count || 0;\npersone.stanze[stanza] = { count, ts: Date.now() };\n\n// Rimuovi stanze non aggiornate da più di 30s\nconst ora = Date.now();\nObject.keys(persone.stanze).forEach(s => {\n    if (ora - persone.stanze[s].ts > 30000) delete persone.stanze[s];\n});\n\npersone.totale = Object.values(persone.stanze).reduce((a, s) => a + s.count, 0);\nflow.set('persone_in_casa', persone);\nreturn null;",
    "outputs": 0,
    "noerr": 0,
    "x": 400,
    "y": 860,
    "wires": []
  }
]
